// The code snippets in this file are derived from the Halcyon theme
// - https://github.com/dbarenholz/halcyon-obsidian?tab=readme-ov-file

body.theme-dark,
body.theme-light {
  --interactive-normal: var(--color-base-05);
  --interactive-hover: var(--background-primary);
  --interactive-accent: color-mix(
    in oklch,
    var(--text-accent) 80%,
    transparent 20%
  );
  --interactive-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
  --interactive-accent-hover: color-mix(
    in oklch shorter hue,
    var(--flexcyon-accent) 75%,
    transparent
  );
  --flexcyon-block-label-opacity: 0.55;
}

body span.cm-blockid {
  opacity: var(--flexcyon-block-label-opacity);
}
