/*!
Flexcyon: Made by mixing the Flexoki, Halcyon and Origami color scheme 
License: MIT
Repository: https://github.com/bladeacer/flexcyon 
Documentation (English): https://flexcyon.github.io/docs-en
Documentation (Chinese): https://flexcyon.github.io/docs-en/zh
*/

@use "./flexcyon";
@use "./modifiers";
