/* 
Flexcyon: Made by mixing the Flexoki, Halcyon and Origami color scheme 
License: MIT
Repository: https://github.com/bladeacer/flexcyon 
Documentation: https://flexcyon.github.io/docs-en
*/

@use "./flexcyon";
@use "./modifiers";

// sass --watch --no-source-map scss/theme.scss theme.css
// this command at root dir
