// The code snippets in this file are derived from the Halcyon theme
// - https://github.com/dbarenholz/halcyon-obsidian?tab=readme-ov-file
body {
  --blockquote-color: color-mix(
    in oklch,
    var(--flexcyon-yellow) 75%,
    var(--flexcyon-text-normal)
  );

  .cm-em.cm-quote {
    color: var(--italic-color);
  }

  .cm-strong.cm-quote {
    color: var(--bold-color);
  }

  .markdown-rendered blockquote :is(pre, code) {
    font-variant: normal;
  }
}
