// The code snippets in this file are derived from the Halcyon theme
// - https://github.com/dbarenholz/halcyon-obsidian?tab=readme-ov-file
body {
  --input-radius: 0px;
  --flexcyon-input-verti-padding: 4px;
  --flexcyon-input-horiz-padding: 8px;
  --input-padding: var(--flexcyon-input-verti-padding)
    var(--flexcyon-input-horiz-padding);

  .metadata-input-longtext::selection,
  input::selection,
  textarea::selection {
    background-color: var(--flexcyon-base-03-04-mix);
  }
}
