// The code snippets in this file are derived from the Halcyon theme 
// - https://github.com/dbarenholz/halcyon-obsidian?tab=readme-ov-file

body.theme-dark {
    --flexcyon-file-exp-top-actions-alignment: center;
    --flexcyon-media-embed-vertical-margin: 8px;
    --flexcyon-anim-duration: 0.2s;

    .clickable-icon {
        opacity: var(--dimmed);
        &:hover {
            opacity: unset;
        }
    }

    div.nav-buttons-container {
        justify-content: var(--flexcyon-file-exp-top-actions-alignment);
        opacity: calc(var(--dimmed) + 0.2);
        &:hover {
            opacity: unset;
        }
    }

    .oz-folders-action-items {
        text-align: var(--flexcyon-file-exp-top-actions-alignment);
        opacity: calc(var(--dimmed) + 0.2);
        &:hover {
            opacity: unset;
        }
    }
}

body:where(.theme-dark) {
    --modal-border-color: var(--flexcyon-base-blue-02)
}

body:where(.theme-dark) {
    --toggle-thumb-color: var(--text-on-accent);
}

body:where(.theme-dark) {
    --file-line-width: 50rem
}

body:where(.theme-dark) {
    --hr-color: color-mix(in hsl shorter hue, var(--text-faint), var(--background-modifier-border));
}

body:where(.theme-dark) {
    --vault-name-color: var(--interactive-accent);
}

body:where(.theme-dark) {
    --ribbon-background-collapsed: var(--ribbon-background)
}

body:where(.theme-dark) {
    --workspace-background-translucent: unset;
}

body:where(.theme-dark) .workspace-ribbon {
    border-right: unset;
}

body:is(.theme-dark) :is(.cm-comment.cm-hmd-internal-link, .cm-comment.cm-link, .cm-comment.cm-string) {
    color: var(--code-comment);
}

body:is(.theme-dark) :is(.cm-comment.cm-string, .cm-comment.cm-hmd-internal-link:hover, .cm-comment.cm-link:hover) {
    text-decoration: none;
}

body:is(.theme-dark) h3[data-heading*="find section #"] a.tag {
    all: unset;
}

body:where(.theme-dark):not(.is-grabbing) :is(.nav-file-title:hover, .nav-folder-title:hover) {
    color: var(--interactive-accent-hover);
}

body:where(.theme-dark) .cm-formatting.cm-formatting-task {
    color: var(--flexcyon-purple-lilac);
}

body:where(.theme-dark) {
    div.modal-content.vertical-tabs-container>div.vertical-tab-header>div>div.vertical-tab-header-group-items {
        & div.vertical-tab-nav-item {
            opacity: var(--dimmed);
        }

        & div.vertical-tab-nav-item.is-active {
            opacity: 1;
        }
    }

}

body.flexcyon-enable-alt-active-item-effect {
    .vertical-tab-nav-item {
        padding-left: 0.5rem;
        transform: padding ease-in-out 0.35s;
    }
    .vertical-tab-nav-item.search-settings-input {
        padding-left: 0.1rem;
    }

    .vertical-tab-nav-item.is-active {
        color: var(--text-accent);
        background-color: var(--text-on-accent);
        padding-left: 0.75rem;
        &:hover {
            font-weight: bold;
        }
    }
}

span.media-embed * {
    margin: var(--flexcyon-media-embed-vertical-margin) 0px;
}

div.markdown-preview-section:last-child > div.el-hr {
    display: none;
}

body.flexcyon-anim-slideUp {
    div.modal, div.prompt {
        transition: all var(--flexcyon-anim-duration) ease-in;
        animation: slideUp var(--flexcyon-anim-duration);

        @keyframes slideUp {
            0% {
                transform: translateY(100%);
                opacity: 0;
            }
            30% {
                transform: translateY(80%);
                opacity: 0.4;
            }
            80% {
                transform: translateY(30%);
                opacity: 0.7;
            }
            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }
    }
}

body.flexcyon-anim-slideDown {
    div.modal, div.prompt {
        transition: all var(--flexcyon-anim-duration) ease-in;
        animation: slideDown var(--flexcyon-anim-duration);

        @keyframes slideDown {
            0% {
                transform: translateY(-100%);
                opacity: 0;
            }
            30% {
                transform: translateY(-80%);
                opacity: 0.4;
            }
            80% {
                transform: translateY(-30%);
                opacity: 0.7;
            }
            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }
    }
}

body.flexcyon-anim-slideLeft {
    div.modal, div.prompt {
        transition: all var(--flexcyon-anim-duration) ease-in;
        animation: slideLeft var(--flexcyon-anim-duration);

        @keyframes slideLeft {
            0% {
                transform: translateX(-100%);
                opacity: 0;
            }
            30% {
                transform: translateX(-80%);
                opacity: 0.4;
            }
            80% {
                transform: translateX(-30%);
                opacity: 0.7;
            }
            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }
    }
}

body.flexcyon-anim-slideRight {
    div.modal, div.prompt {
        transition: all var(--flexcyon-anim-duration) ease-in;
        animation: slideRight var(--flexcyon-anim-duration);

        @keyframes slideRight {
            0% {
                transform: translateX(100%);
                opacity: 0;
            }
            30% {
                transform: translateX(80%);
                opacity: 0.4;
            }
            80% {
                transform: translateX(30%);
                opacity: 0.7;
            }
            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }
    }
}