body:where(.theme-dark) {
    .cm-gutterElement.cm-active {
        /* Active line changes colour */
        color: rgba(var(--color-green-rgb), 60%);
        font-weight: 900;
        font-size: var(--font-ui-small);
    }
}