body:where(.theme-dark) {
  .status-bar {
    font-size: 0.9rem;
    border: unset;
    border-radius: unset;
    z-index: 1;
    transform: translateY(100px);
    transition: transform 0.3s ease-in-out;

    &::before{
      content: "Show status bar";
      margin: 8px;
      padding-right: 2px;
      position: fixed;
      bottom: 0;
      right: 0;
      transform: translateY(-100px);
      transition: transform 0.3s ease-in-out;
    }
    &:hover::before {
      opacity: 0;
      transition: transform opacity 0.3s ease-in-out;
    }
    &:hover {
      transform: unset;
      transition: transform 0.3s ease-in-out;
    }
  }


  .plugin-editor-status {

    .status-bar-item-icon {
      & svg {
        display: none;
      }
    }

    &::before{
      font-weight: bold;
    }

  }

  .plugin-editor-status[aria-label="Reading"]::before {
    content: "READ";
    color: var(--text-accent);
  }

  .plugin-editor-status[aria-label="Source mode"]::before {
    content: "SOURCE";
    color: var(--color-purple);
  }

  .plugin-editor-status[aria-label="Live Preview"]::before {
    content: "LIVE";
    color: var(--color-blue);
   } 

}

