body {
  --status-bar-font-size: 13.7533px;
  --flexcyon-vim-insert-text: "INSERT";
  --flexcyon-vim-normal-text: "NORMAL";
  --flexcyon-vim-command-text: "COMMAND";
  --flexcyon-vim-bottom-positioning: -4px;
  --flexcyon-vim-left-positioning: 6px;
  --flexcyon-status-hide-trigger-translation: 50px;
  --flexcyon-status-hide-until-hover-text: "Show status";
  --flexcyon-status-hide-until-hover-translation: 80vw;
  --flexcyon-status-hide-hover-duration: 325ms;
  --flexcyon-status-hide-hover-function: ease-out;
  --flexcyon-status-reading-text: "READ";
  --flexcyon-status-source-text: "SOURCE";
  --flexcyon-status-live-text: "LIVE";
  --flexcyon-status-new-tab-opacity: 0.55;
  --status-bar-position: absolute;

  div:has(.cm-vim-panel) + .status-bar {
    margin-block-end: 36px;
  }
}

body.flexcyon-status-text-enable-color {
  .plugin-editor-status[aria-label="Reading"]::before {
    color: var(--text-accent);
  }

  .plugin-editor-status[aria-label="Source mode"]::before {
    color: var(--color-purple);
  }

  .plugin-editor-status[aria-label="Live Preview"]::before {
    color: var(--color-blue);
  }
}

body.flexcyon-flex-max-mode,
body.flexcyon-status-text-mode {
  .plugin-editor-status {
    .status-bar-item-icon {
      & svg {
        display: none;
      }
    }

    &::before {
      font-weight: bold;
    }
  }

  .plugin-editor-status[aria-label="Reading"]::before {
    content: var(--flexcyon-status-reading-text);
  }

  .plugin-editor-status[aria-label="Source mode"]::before {
    content: var(--flexcyon-status-source-text);
  }

  .plugin-editor-status[aria-label="Live Preview"]::before {
    content: var(--flexcyon-status-live-text);
  }
}

%status-aln-wrapper {
  z-index: 1;
  font-size: var(--font-ui-medium);
  border: none;
  transition: transform calc(1.05 * var(--flexcyon-status-hide-hover-duration))
    var(--flexcyon-status-hide-hover-function);
}

%status-aln-bef-wrapper {
  position: absolute;
  inset-block-end: 0;
  inset-inline-end: 0;
  z-index: 2;
  inline-size: max-content;
  padding: 8px 10px;
  font-size: var(--status-bar-font-size);
  user-select: none;
  content: var(--flexcyon-status-hide-until-hover-text);
  background-color: var(--color-base-00);
  border-radius: inherit;
  transition: transform var(--flexcyon-status-hide-hover-duration)
    var(--flexcyon-status-hide-hover-function);
}

body:is(.flexcyon-status-hide-until-hover, .flexcyon-status-hide-until-hold):is(
    .flexcyon-status-right-align,
    .flexcyon-status-centre-align
  )
  .status-bar {
  @extend %status-aln-wrapper;

  &::before {
    @extend %status-aln-bef-wrapper;
  }
}

%centre-div-status-bar {
  position: absolute;
  inset-inline: calc(16px + 6px * 2 + 4px * 2) 0;
  display: flex;
  justify-content: center;
  inline-size: max-content;
  max-inline-size: 85%;
  margin: 0 auto;
}

body:is(
    .flexcyon-status-hide-until-hover,
    .flexcyon-status-hide-until-hold
  ).flexcyon-status-centre-align
  .status-bar {
  @extend %centre-div-status-bar;

  transform: translateY(var(--flexcyon-anim-slide-amount));

  &::before {
    @extend %centre-div-status-bar;

    transform: translateY(calc(-1 * var(--flexcyon-anim-slide-amount)));
  }
}

body:is(
    .flexcyon-status-hide-until-hover,
    .flexcyon-status-hide-until-hold
  ).flexcyon-status-right-align
  .status-bar {
  transform: translateX(var(--flexcyon-status-hide-until-hover-translation));

  &::before {
    transform: translateX(
      calc(-1 * var(--flexcyon-status-hide-until-hover-translation))
    );
  }
}

body.flexcyon-flex-max-mode .status-bar,
body.flexcyon-status-hide-until-hover .status-bar {
  &:hover::before {
    transform: translateY(var(--flexcyon-status-hide-trigger-translation));
    transition: transform var(--flexcyon-status-hide-hover-duration)
      var(--flexcyon-status-hide-hover-function);
  }

  &:hover {
    transform: unset;
    transition: transform var(--flexcyon-status-hide-hover-duration)
      var(--flexcyon-status-hide-hover-function);
  }
}

body.flexcyon-status-hide-until-hold .status-bar {
  &:active::before {
    transform: translateY(var(--flexcyon-status-hide-trigger-translation));
    transition: transform var(--flexcyon-status-hide-hover-duration)
      var(--flexcyon-status-hide-hover-function);
  }

  &:active {
    transform: unset;
    transition: transform var(--flexcyon-status-hide-hover-duration)
      var(--flexcyon-status-hide-hover-function);
  }
}

body.is-mobile.flexcyon-status-mobile-enabled .status-bar {
  display: block;
}

body.flexcyon-status-style-angled {
  .status-bar {
    gap: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    border-radius: 0;
  }

  .status-bar-item {
    padding: 4px 8px;
    background-color: var(--color-base-20);
    border-radius: 0;
    transform: skewX(-22.5deg);
  }

  .status-bar :nth-child(2n):is(.status-bar-item) {
    background-color: var(--color-base-05);
  }
}

body:not(.is-fullscreen) .status-bar {
  padding-inline-end: 0;
}

body.flexcyon-status-style-card {
  .status-bar {
    inset-inline-end: 10px;
    gap: 8px;
    margin: 4px 8px;
    background-color: transparent;
    border: none;
  }

  .status-bar :nth-child(2n).status-bar-item {
    padding: 4px 8px;
    background-color: var(--color-base-05);
    border-radius: var(--flexcyon-callout-radix);
  }

  .status-bar :nth-child(2n + 1).status-bar-item {
    padding: 4px 8px;
    background-color: var(--color-base-25);
    border-radius: var(--flexcyon-callout-radix);
  }
}

body.flexcyon-flex-max-mode:not(:has(.mod-active > [data-type="empty"])),
body.flexcyon-status-style-pl10k:not(:has(.mod-active > [data-type="empty"])) {
  .status-bar::before {
    inset-inline-end: 28px;
  }
}

body:has(.mod-active > [data-type="empty"]) {
  .status-bar {
    opacity: var(--flexcyon-status-new-tab-opacity);
  }
}

body.flexcyon-no-status-in-new-tab:has(.mod-active > [data-type="empty"]) {
  .status-bar {
    display: none;
  }
}

body.flexcyon-flex-max-mode,
body.flexcyon-status-style-pl10k {
  .status-bar {
    gap: 0;
    padding-inline-end: 1vw;
    background-color: transparent;
    border: transparent;
    scale: var(--expand);

    &::before {
      inset-inline-end: 0;
    }

    .status-bar-item .status-bar-item-icon {
      transform: translateX(-1px);
    }

    .status-bar-item[style="display: none;"] + .status-bar-item {
      padding-inline-start: 12px;
      border-start-start-radius: 16px;
      border-end-start-radius: 16px;
    }

    .status-bar-item {
      padding: 0;
      padding-inline-start: 2px;

      &::after {
        position: relative;
        inline-size: inherit;
        block-size: inherit;
        padding: 4px;
        color: transparent;
        content: "e";
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 70% 50%);
      }
    }

    :first-child:empty,
    :first-child.status-bar-item {
      padding-inline-start: 6px;
      border-start-start-radius: 16px;
      border-end-start-radius: 16px;
    }

    :last-child.status-bar-item,
    :nth-last-child(2).status-bar-item {
      margin-inline-end: 1.25vw;
      border-start-end-radius: 16px;
      border-end-end-radius: 16px;

      * {
        margin-inline-end: 0;
      }
    }

    :nth-child(2n + 1).status-bar-item {
      background-color: var(--color-base-20);

      &::after {
        background-color: var(--color-base-05);
      }
    }

    :nth-child(2n).status-bar-item {
      background-color: var(--color-base-05);

      &::after {
        background-color: var(--color-base-20);
      }
    }

    :nth-last-child(2).status-bar-item::after,
    :last-child.status-bar-item,
    :last-child.status-bar-item::after {
      background-color: transparent;
    }
  }
}
