// The code snippets in this file are derived from the Halcyon theme
// - https://github.com/dbarenholz/halcyon-obsidian?tab=readme-ov-file

body {
  --icon-xs: 12.25px;
  --dimmed: 0.55;
  --upsize: 103%;
  --expand: 110%;
  --less-letter-spacing: -3px;
  --flexcyon-comm-item-opacity: 0.89;
  --flexcyon-tree-item-horiz-padding: 10px;
  --flexcyon-tree-item-verti-padding: 2px;
  --flexcyon-comm-text-padding: 3px 16px;
  --icon-stroke: 2px;
  --icon-color-active: var(--interactive-accent);
  --icon-color-focused: var(--interactive-accent);
  --clickable-icon-radius: 0;

  .clickable-icon {
    padding: 4px 8px;
    opacity: var(--dimmed);

    &:hover {
      opacity: unset;
      scale: var(--upsize);
    }
  }

  .nav-buttons-container {
    gap: 1px;
  }

  &.is-mobile .view-actions {
    justify-content: center;
  }

  .view-header-nav-buttons .clickable-icon,
  .view-actions .clickable-icon {
    padding: 5px 10px;
  }

  .modal-title {
    padding-block-end: 16px;
  }

  .graph-controls .clickable-icon,
  .clickable-icon.side-dock-ribbon-action {
    padding: var(--size-2-2) var(--size-2-3);
  }

  .mod-community-modal .modal-sidebar .setting-item.mod-toggle {
    padding: 6px 16px;
  }

  .mod-community-modal
    .modal-sidebar:not(:has(+ .community-modal-details))
    .setting-item.mod-toggle {
    margin-block-start: -8px;
  }

  .modal-sidebar {
    padding: 16px 8px;
  }

  .community-modal-search-summary {
    padding: 6px 16px;
    margin-inline-start: 4px;
  }

  .community-modal-search-results {
    gap: 14px;
    padding: 16px;
  }

  .community-modal-info hr {
    display: none;
  }

  .setting-item {
    border-block-start: none;
  }

  .setting-item.setting-item-heading {
    border-block-end: 1px solid var(--background-modifier-border);

    .setting-item-name {
      padding-inline-end: 4px;
      line-height: 1.5;
    }
  }

  .setting-item + div > .setting-item-heading,
  .setting-item + .setting-item-heading {
    margin-block-start: 1.5em;
  }

  .horizontal-tab-nav-item,
  .vertical-tab-nav-item {
    padding: calc(var(--size-4-1) + 1px) var(--size-4-2);
    margin-block-end: 1px;
    font-size: calc(var(--font-ui-small) + 1.25px);
  }

  .LazyLoad.is-visible {
    block-size: unset !important;
  }

  .oz-folder-line,
  .oz-nav-file,
  .tree-item:not(.graph-control-section) {
    padding: var(--flexcyon-tree-item-verti-padding)
      var(--flexcyon-tree-item-horiz-padding);
  }

  .text-snippets-class > * {
    inline-size: min(50em, 50vw);
  }

  .text-snippets-class > * > textarea {
    inline-size: min(30em, 35vw);
    margin-block: 16px;
  }

  [aria-label^="Collapse results"] {
    letter-spacing: var(--less-letter-spacing);
  }

  span.flair.mod-pop {
    margin-inline-start: var(--flexcyon-settings-installed-tooltip-left-margin);
  }
}

.is-phone .setting-item-control input {
  inline-size: max-content;
}

body.is-mobile {
  div.setting-item {
    flex-direction: column;
    align-items: unset;

    .setting-item-control {
      align-items: unset;
      justify-content: unset;
    }
  }

  .text-snippets-class > * {
    inline-size: 50%;
    block-size: max-content;
  }

  .text-snippets-class > * > textarea {
    inline-size: 50%;
    block-size: 100px;
  }
}

body.flexcyon-workspace-card-layout {
  .community-modal-info-name {
    padding: var(--flexcyon-comm-text-padding);
    padding-block-start: 16px;
    margin-block: 8px 0;
    border: 2px solid var(--text-faint);
    border-block-end: 0;
    border-start-start-radius: 16px;
    border-start-end-radius: 16px;
  }

  .community-modal-info-downloads,
  .community-modal-info-version,
  .community-modal-info-author,
  .community-modal-info-repo,
  .community-modal-info-desc {
    padding: var(--flexcyon-comm-text-padding);
    overflow-wrap: break-word;
    border: 2px solid var(--text-faint);
    border-block-start: 0;
    border-block-end: 0;
  }

  .community-modal-info-desc {
    margin-block-start: 0;
  }

  .community-modal-info-downloads {
    inline-size: 100%;
    margin-block-start: 0;
  }

  .community-modal-button-container {
    padding: 16px;
    padding-block-end: 24px;
    margin: 0;
    border: 2px solid var(--text-faint);
    border-block-start: 0;
    border-end-start-radius: 16px;
    border-end-end-radius: 16px;
  }

  .community-modal-readme {
    margin-block-start: 32px;
  }
}

body.flexcyon-settings-comm-item-enabled {
  div.community-modal-search-results div.community-item {
    opacity: var(--flexcyon-comm-item-opacity);
  }

  div.community-modal-search-results div.community-item.is-selected {
    font-weight: bold;
    border: unset;
    opacity: unset;
  }

  div.community-item div.community-item-name span.flair.mod-pop {
    position: absolute;
    inset-block-start: 0.7rem;
    inset-inline-end: 0.5rem;
    color: var(--color-base-25);
    background-color: var(--text-accent);
  }

  div.community-item.is-selected div.community-item-name span.flair.mod-pop {
    color: var(--text-normal);
    background-color: var(--color-base-25);
  }

  .community-item-name {
    inline-size: 75%;
    color: var(--color-blue);
    overflow-wrap: break-word;
  }

  .community-item-downloads,
  .community-modal-info-downloads {
    color: rgb(var(--color-cyan-rgb), var(--flexcyon-comm-item-opacity));
  }

  .community-item-updated {
    color: rgb(
      var(--color-blue-rgb),
      calc(var(--flexcyon-comm-item-opacity) - 0.1)
    );
  }

  .community-modal-info-version {
    color: rgb(
      var(--color-green-rgb),
      calc(var(--flexcyon-comm-item-opacity) - 0.1)
    );
  }
}

body.theme-light.flexcyon-flex-max-mode:not(.is-phone),
body.theme-light.flexcyon-settings-comm-item-enabled:not(.is-phone) {
  .community-item.is-selected {
    background-color: var(--background-primary);
    border: none;

    span.flair.mod-pop {
      background-color: rgb(var(--color-blue-rgb), var(--dimmed));
    }

    .community-item-name {
      font-weight: bold;
      color: var(--color-red);
    }

    .community-item-author {
      font-weight: bold;
      color: var(--color-yellow);
    }

    .community-item-downloads {
      font-weight: bold;
      color: var(--color-purple);
    }

    .community-item-updated {
      font-weight: bold;
      color: var(--color-green);
    }

    .community-item-desc {
      color: var(--text-normal);
    }
  }
}

body.theme-dark.flexcyon-flex-max-mode:not(.is-phone),
body.theme-dark.flexcyon-settings-comm-item-enabled:not(.is-phone) {
  .community-item.is-selected {
    background-color: var(--background-primary);
    border: none;

    span.flair.mod-pop {
      background-color: rgb(var(--color-yellow-rgb), var(--dimmed));
    }

    .community-item-name {
      font-weight: bold;
      color: var(--color-red);
    }

    .community-item-author {
      font-weight: bold;
      color: var(--color-blue);
    }

    .community-item-downloads {
      font-weight: bold;
      color: var(--color-pink);
    }

    .community-item-updated {
      font-weight: bold;
      color: var(--color-purple);
    }

    .community-item-desc {
      color: var(--text-normal);
    }
  }
}

body.theme-light.flexcyon-flex-max-mode:not([class*="iconic"]),
body.theme-light.flexcyon-settings-smiley-icons-enabled.flexcyon-ensure-plugin-icon:not(
    [class*="iconic"]
  ),
body.theme-light.flexcyon-settings-smiley-icons-enabled:not(
    .flexcyon-ensure-plugin-icon
  ) {
  div.setting-item-control {
    div.checkbox-container::after {
      font-weight: bold;
      filter: saturate(2.5);
    }
  }
}

body.flexcyon-flex-max-mode:not([class*="iconic"]),
body.flexcyon-settings-smiley-icons-enabled.flexcyon-ensure-plugin-icon:not(
    [class*="iconic"]
  ),
body.flexcyon-settings-smiley-icons-enabled:not(.flexcyon-ensure-plugin-icon) {
  div.setting-item-control {
    div.checkbox-container {
      font-weight: bolder;
      background-color: var(--color-base-05);
      box-shadow: unset;
    }

    div.checkbox-container::after {
      inline-size: fit-content;
      block-size: fit-content;
      color: var(--color-red);
      content: ":(";
      background-color: inherit;
      border-radius: 25%;
      box-shadow: unset;
      transform: translateY(-10%);
    }

    div.checkbox-container.is-enabled::after {
      color: var(--color-green);
      content: ":)";
      transform: translate(16px, -10%);
    }

    input.slider {
      border-radius: unset;
    }
  }
}

@mixin nth-hover-color($color-map: ()) {
  $max-index: 0;

  @each $index, $color in $color-map {
    $max-index: max($max-index, $index);
  }

  $interval: $max-index + 1;

  @each $index, $color in $color-map {
    & :nth-of-type(#{$interval}n + #{$index}):hover {
      color: var(--color-#{$color});
    }
  }
}

body.flexcyon-flex-max-mode div.side-dock-actions,
body.flexcyon-sidedock-icon-effects div.side-dock-actions {
  opacity: var(--dimmed);
  scale: var(--upsize);

  &:hover {
    opacity: 1;
  }

  & :hover {
    scale: var(--expand);
  }

  @include nth-hover-color(
    (
      0: purple,
      1: cyan,
      2: blue,
      3: pink,
      4: green,
      5: yellow,
      6: orange,
      7: red,
    )
  );
}

body.theme-light.flexcyon-settings-comm-item-enabled .community-item-name {
  color: var(--color-yellow);
}

body.flexcyon-flex-max-mode,
body.flexcyon-settings-coloured-icons {
  [aria-label^="Uninstall"] {
    color: rgb(var(--color-red-rgb), 0.9);
  }

  [aria-label^="Options"] {
    color: rgb(var(--color-blue-rgb), 0.9);
  }

  [aria-label^="Customise this command"],
  [aria-label^="Customize this command"],
  [aria-label^="Hotkeys"],
  [aria-label^="Open snippets folder"],
  [aria-label^="Open plugins folder"] {
    color: rgb(var(--color-green-rgb), 0.9);
  }

  [aria-label^="Donate to support"] {
    color: rgb(var(--color-pink-rgb), 0.9);
  }

  [aria-label^="Reload plugins"],
  [aria-label^="Reload snippets"] {
    color: rgb(var(--color-cyan-rgb), 0.9);
  }

  [aria-label^="Restore default"] {
    color: rgb(var(--color-purple-rgb), 0.9);
  }
}

body.is-mobile .vertical-tab-content {
  background-color: var(--color-base-05);
}

body.flexcyon-workspace-angled-layout {
  .collapse-icon.is-collapsed svg.svg-icon {
    transform: rotate(calc(var(--direction) * -1 * 90deg)) skewX(-5deg);
  }

  .tree-item-self .collapse-icon svg {
    transform: skewX(7.5deg);
  }
}

@mixin ascii-aria-icon($aria-label, $content) {
  [aria-label*="#{$aria-label}"] {
    inline-size: 24px;

    &::after {
      font-size: var(--font-ui-small);
      letter-spacing: -0.75px;
      content: "#{$content}";
    }

    svg {
      opacity: 0;
    }
  }
}

body.flexcyon-ascii-icon-set:not(.flexcyon-ensure-plugin-icon),
body.flexcyon-ascii-icon-set.flexcyon-ensure-plugin-icon:not(
    [class*="iconic"]
  ) {
  .modal-close-button {
    position: absolute;
    inset-block-start: 16px;
    inset-inline-end: 2.5%;
    inline-size: 24px;
    padding-inline-end: 48px;

    &::before {
      opacity: 0;
    }

    &::after {
      font-size: var(--font-ui-small);
      content: "x_x";
    }
  }

  .search-input-container {
    &::before {
      opacity: 0;
    }

    &::after {
      position: absolute;
      inset-block-end: 6px;
      inset-inline-start: 0;
      margin: 0 8px;
      font-size: var(--font-ui-small);
      content: "?/";
    }
  }

  .modal.mod-settings .vertical-tab-content {
    padding-block-start: 48px;
  }

  .iconic-add,
  .iconic-drag,
  .iconic-rule-icon,
  .omnisearch-result__icon,
  .workspace-tab-header-inner-close-button,
  .workspace-left-content[aria-label*="Back"] {
    svg {
      opacity: 0;
    }
  }

  .iconic-rule-icon,
  .iconic-add,
  .iconic-drag,
  .workspace-left-content[aria-label*="Back"] {
    inline-size: 24px;
  }

  .iconic-rule-icon::after {
    font-size: var(--font-ui-small);
    letter-spacing: -0.75px;
    content: "./^";
  }

  .iconic-add::after {
    font-size: var(--font-ui-small);
    color: var(--color-green);
    letter-spacing: -0.75px;
    content: "[~]";
    transform: translateX(-24px);
  }

  .iconic-drag::after {
    font-size: var(--font-ui-small);
    letter-spacing: -0.75px;
    content: "|||";
  }

  .omnisearch-result__icon {
    &:has(.lucide-file)::before {
      font-size: var(--font-ui-smaller);
      letter-spacing: -2px;
      content: "''";
    }

    &:has(.lucide-file-text)::before {
      font-size: var(--font-ui-smaller);
      letter-spacing: -2px;
      content: "``";
    }
  }

  .workspace-left-content[aria-label*="Back"] {
    &::after {
      font-size: var(--font-ui-small);
      letter-spacing: -0.75px;
      content: "<";
    }
  }

  .workspace-tab-header-inner-close-button {
    color: inherit;

    &::after {
      font-size: var(--font-ui-small);
      content: "x_x";
    }
  }

  @include ascii-aria-icon("Uninstall", "*_*");
  @include ascii-aria-icon("Options", "[*]");
  @include ascii-aria-icon("Hotkeys", "[%]");
  @include ascii-aria-icon("Customise this command", "[~]");
  @include ascii-aria-icon("Customize this command", "[~]");
  @include ascii-aria-icon("Export settings", ".>");
  @include ascii-aria-icon("Donate", "<3");
  @include ascii-aria-icon("Reload", "[R]");
  @include ascii-aria-icon("Change sort order", "|'|");
  @include ascii-aria-icon("folder", "./^");
  @include ascii-aria-icon("Restore default", "[0]");
  @include ascii-aria-icon("Reset all settings to default", "[0]");
  @include ascii-aria-icon("New note", "[N]");
  @include ascii-aria-icon("Expand", "[+]");
  @include ascii-aria-icon("Collapse", "[-]");
  @include ascii-aria-icon("Auto-reveal current file", "[>]");
  @include ascii-aria-icon("Auto-scroll to current section", "[>]");
  @include ascii-aria-icon("Show search filter", "?/");
  @include ascii-aria-icon("Bookmark the active tab", "[B]");
  @include ascii-aria-icon("New bookmark group", "{+}");

  [aria-label*="New bookmark group"]::after,
  [aria-label*="Collapse"]::after,
  [aria-label*="Expand"]::after {
    letter-spacing: -2px;
  }

  .nav-buttons-container {
    gap: 6px;
  }

  .search-input-clear-button {
    &::before {
      content: "x_x";
    }

    &::after {
      opacity: 0;
    }
  }
}

body.flexcyon-stylised-pins
  :is(.mod-left-split, .mod-right-split)
  .workspace-tab-header-container-inner {
  .workspace-tab-header-inner-icon
    + div
    + div.workspace-tab-header-status-container {
    inline-size: 0;
  }

  .workspace-tab-header-inner-icon
    + div
    + div.workspace-tab-header-status-container
    .mod-pinned {
    --icon-size: var(--icon-xs);

    color: var(--color-accent-2);
    transform: translate(-3px, -11px);
  }
}

body.flexcyon-stylised-pins.flexcyon-vertical-nav
  :is(.mod-left-split, .mod-right-split)
  .workspace-tab-header-container-inner {
  .workspace-tab-header-inner-icon:has(
    + div + div.workspace-tab-header-status-container > .mod-pinned
  ) {
    transform: translateY(8px);
  }

  .workspace-tab-header-inner-icon
    + div
    + div.workspace-tab-header-status-container
    .mod-pinned {
    --icon-size: var(--icon-xs);

    color: var(--color-accent-2);
    transform: translate(5px, -22px);
  }
}

.mod-root .workspace-tab-header-status-icon {
  color: var(--color-accent-2);
}

body.flexcyon-reverse-tab-header-content .workspace-tab-header-inner {
  flex-direction: row-reverse;
}

body
  :is(.mod-left-split, .mod-right-split)
  .workspace-tab-header-container
  .workspace-tab-header-container-inner {
  gap: 1px;
  padding: unset;
  margin: unset;
}
