body {
  --flexcyon-active-indicator: ">> ";
  --flexcyon-exp-dimmed-nav-size: 13.3623px;
}

body.flexcyon-flex-max-mode,
body.flexcyon-wrap-long-filenames {
  .tree-item-inner {
    overflow: visible;
    text-overflow: clip;
    white-space: collapse;
  }
}

body.flexcyon-flex-max-mode,
body.flexcyon-file-exp-dimmed-file-exts-enabled {
  .nav-files-container > div > div,
  .nav-folder:not(.is-collapsed) > div > div {
    div[data-path$=".md"] {
      > div.nav-file-tag {
        display: none;
      }

      &::after {
        content: ".md";
        opacity: var(--dimmed);
      }
    }

    div:not([data-path$=".md"]) {
      > div.nav-file-tag {
        padding: unset;
        margin: unset;
        font-size: var(--flexcyon-exp-dimmed-nav-size);
        font-weight: unset;
        color: var(--text-muted);
        text-transform: lowercase;
        opacity: var(--dimmed);

        &::before {
          content: ".";
        }
      }
    }
  }
}

@mixin nth-nav-folder-colors($color-map: (), $is-bg: 0) {
  $max-index: 0;

  @each $index, $color in $color-map {
    $max-index: max($max-index, $index);
  }

  $interval: $max-index + 1;

  @each $index, $color in $color-map {
    .nav-folder:nth-of-type(#{$interval}n + #{$index}) {
      .nav-folder-title .collapse-icon svg,
      .nav-folder-title {
        @if $is-bg == 0 {
          color: var(--color-#{$color});
        } @else {
          color: var(--text-normal);
          background-color: var(--color-#{$color});
        }
      }

      .nav-folder .nav-folder-title {
        @if $is-bg == 0 {
          color: rgb(var(--color-#{$color}-rgb), calc(var(--dimmed) + 0.2));
        } @else {
          color: var(--text-normal);
          background-color: rgb(
            var(--color-#{$color}-rgb),
            calc(var(--dimmed) + 0.2)
          );
        }
      }

      .nav-folder .nav-folder-title .collapse-icon svg {
        @if $is-bg == 0 {
          color: rgb(var(--color-#{$color}-rgb), calc(var(--dimmed) + 0.2));
        } @else {
          color: var(--text-normal);
          background-color: transparent;
        }
      }
    }
  }
}

body.flexcyon-rainbow-folders {
  .tree-item-children {
    border-inline-start: none;
  }

  .nav-files-container div {
    @include nth-nav-folder-colors(
      (
        0: purple,
        1: cyan,
        2: blue,
        3: pink,
        4: green,
        5: yellow,
        6: orange,
        7: red,
      )
    );
  }
}

body.flexcyon-rainbow-folders.flexcyon-is-bg-rainbow {
  .nav-files-container div {
    @include nth-nav-folder-colors(
      (
        0: purple,
        1: cyan,
        2: blue,
        3: pink,
        4: green,
        5: yellow,
        6: orange,
        7: red,
      ),
      1
    );
  }
}

body.flexcyon-alt-folder-style {
  .nav-folder {
    .collapse-icon svg {
      color: var(--color-blue);
    }
  }

  .nav-folder .nav-folder-title {
    color: var(--color-blue);
  }

  .nav-folder.is-collapsed .nav-folder-title {
    color: unset;
  }

  .nav-folder.is-collapsed {
    .nav-folder-title-content {
      color: unset;
    }

    .collapse-icon svg {
      color: unset;
    }
  }

  .nav-file-title.is-active .nav-file-title-content {
    font-weight: bold;
    transform: all ease-in-out 350ms;
  }
}

body:not(.is-grabbing) .nav-file-title.is-active:hover,
body:not(.is-grabbing) .nav-folder-title.is-active:hover,
.nav-file-title.is-active,
.nav-folder-title.is-active {
  background-color: transparent;
}

body.flexcyon-md-file-tree-style {
  .nav-file,
  .nav-folder,
  .nav-folder-children {
    position: relative;
    padding-inline-start: 2px;
  }

  .nav-file::before,
  .nav-folder-children::before {
    position: absolute;
    content: "";
    background: var(--nav-collapse-icon-color);
  }

  .tree-item.nav-file::before,
  .tree-item.nav-folder::before {
    inset-block-start: 50%;
    inline-size: 20px;
    block-size: 1px;
    margin-inline-start: -3px;
    transform: translate(0, -50%);
  }

  .tree-item-children.nav-folder-children:not(:has(.nav-file))::before {
    inset-block-end: 6px;
  }

  .tree-item-children.nav-folder-children {
    border-inline-start-width: 0;

    &::before {
      inset-block: 0 12px;
      inset-inline-start: 0;
      inline-size: 1px;
    }
  }

  .nav-files-container > div > .tree-item.nav-file::before,
  .nav-files-container > div > .tree-item.nav-folder::before {
    content: none;
  }
}

@container style(--flexcyon-bg-image-sidebar-left-url: url("")) {
  .mod-left-split {
    .tree-item-self.is-active,
    .tree-item-self .is-active {
      background: linear-gradient(
        to right,
        transparent 0%,
        var(--nav-item-background-active) 15%,
        var(--nav-item-background-active) 85%,
        transparent 100%
      );
    }

    .nav-file-title.is-active:hover,
    body:not(.is-grabbing) .nav-folder-title.is-active:hover,
    .nav-file-title.is-active,
    .nav-folder-title.is-active {
      font-weight: var(--nav-item-weight-active);
      color: var(--nav-item-color-active);
      background-color: var(--nav-item-background-active);
    }
  }
}

@container style(--flexcyon-bg-image-sidebar-right-url: url("")) {
  .mod-right-split {
    .tree-item-self.is-active,
    .tree-item-self .is-active {
      background: linear-gradient(
        to right,
        transparent 0%,
        var(--nav-item-background-active) 15%,
        var(--nav-item-background-active) 85%,
        transparent 100%
      );
    }

    .nav-file-title.is-active:hover,
    body:not(.is-grabbing) .nav-folder-title.is-active:hover,
    .nav-file-title.is-active,
    .nav-folder-title.is-active {
      font-weight: var(--nav-item-weight-active);
      color: var(--nav-item-color-active);
      background-color: var(--nav-item-background-active);
    }
  }
}

body.flexcyon-minimalist-tree {
  .collapse-icon svg {
    display: none;
  }

  .tree-item-children {
    border-inline-start: none;
  }

  .nav-file-title {
    opacity: 0.85;
  }
}

body.flexcyon-workspace-angled-layout {
  .nav-folder-title-content {
    transform: skewX(-5deg);
  }
}

body.flexcyon-flex-max-mode,
body.flexcyon-enable-active-indicator {
  .tree-item-self.is-active .tree-item-inner,
  .vertical-tab-nav-item.is-active {
    &::before {
      content: var(--flexcyon-active-indicator);
    }
  }
}

body.flexcyon-vertical-nav {
  .mod-sidedock.mod-right-split .workspace-tabs,
  .mod-sidedock.mod-left-split .workspace-tabs {
    display: flex;
    flex-direction: row;

    div {
      flex-direction: inherit;

      div.sidebar-toggle-button.mod-left {
        position: absolute;
        margin-inline-start: 1px;
      }

      div.workspace-tab-header-container-inner {
        margin-block-start: 48px;
      }
    }

    div.workspace-leaf-content[data-type*="search"] {
      flex-direction: column;
    }

    div.workspace-leaf-content[data-type*="undefined"]:has(
        .file-tree-plugin-view
      ) {
      flex-direction: column;
    }

    .oz-explorer-container .oz-file-tree-header-wrapper,
    .oz-folders-tree-wrapper {
      flex-direction: row;
    }

    .fc-header-toolbar {
      gap: 0;
      padding: 0;
    }

    div.workspace-leaf-content[data-type*="calendar"] {
      flex-direction: column;

      .fc-header-toolbar .fc-button-group {
        flex-direction: row;
      }
    }

    .nav-header {
      inline-size: min-content;
    }

    .metadata-properties {
      flex-direction: column;
    }

    .metadata-property {
      flex-direction: column;

      div {
        flex-direction: row;
      }

      .metadata-property-key {
        inline-size: 100%;
      }
    }

    .nav-buttons-container {
      gap: 8px;
      margin-block-start: 8px;
    }

    .workspace-tab-header-container-inner {
      flex-direction: column;
      gap: 8px;
      block-size: min-content;
      margin-block-start: 8px;
    }

    .workspace-leaf-content {
      inline-size: 100%;
    }

    .workspace-leaf-content .nav-header + div {
      flex-direction: row;
      margin-block-start: 12px;
    }
  }

  &.is-hidden-frameless:not(.is-fullscreen)
    .is-right-sidedock-open
    .workspace-tabs.mod-top-right-space
    .workspace-tab-header-container {
    padding-inline-end: 0;
  }
}

.is-hidden-frameless:not(.is-fullscreen, .mod-macos)
  .workspace-tabs.mod-top-right-space
  .workspace-tab-header-container::after {
  z-index: -5;
}

body.flexcyon-metadata-no-properties-title {
  .metadata-properties-title {
    display: none;
  }
}
