/* obsi-snip-coll start: mobile-fixes */
body.is-mobile.theme-dark {
  --settings-home-background: var(--color-base-10);
  --settings-background: var(--color-base-10);
  --setting-items-background: var(--color-base-10);
  --menu-divider-color: transparent;
  --mobile-sidebar-background: var(--titlebar-background);
  --modal-background: var(--color-base-05);
}

body.is-phone,
body.is-mobile {
  --safe-area-inset-top: 28px;
}

.is-phone .nav-buttons-container {
  background-color: var(--color-base-00);
}

body.flexcyon-revert-nav-item-alignment.is-mobile {
  &.is-phone {
    .nav-buttons-container {
      inset-block: unset;
    }

    .nav-header ~ div:last-child {
      padding-block-start: 60px;
    }
  }

  .nav-files-container {
    overflow-y: scroll;
    overscroll-behavior: contain;
  }

  .workspace-drawer-header {
    padding-block-end: 8px;
  }

  .workspace-drawer-inner {
    flex-direction: column-reverse;
  }

  .workspace-leaf-content {
    overflow-y: scroll;
    overscroll-behavior: contain;
  }

  .workspace-leaf {
    overflow-y: scroll;
    overscroll-behavior: contain;
  }

  .workspace-drawer-active-tab-content > * {
    block-size: unset;
  }

  .workspace-drawer-active-tab-container {
    flex-direction: column-reverse;
    gap: 2px;
  }
}

/* obsi-snip-coll end */
