body.flexcyon-no-settings-icons {
  .mod-settings .vertical-tab-nav-item-icon {
    display: none;
  }
}

body.flexcyon-flex-max-mode:not([class*="iconic"]),
body.flexcyon-settings-smiley-icons-enabled.flexcyon-ensure-plugin-icon:not(
    [class*="iconic"]
  ),
body.flexcyon-settings-smiley-icons-enabled:not(.flexcyon-ensure-plugin-icon) {
  div.setting-item-control {
    .checkbox-container {
      font-weight: bolder;
      background-color: var(--color-base-05);
      box-shadow: unset;
    }

    .checkbox-container::after {
      inline-size: fit-content;
      block-size: fit-content;
      color: var(--color-red);
      content: ":(";
      background-color: inherit;
      border-radius: 25%;
      box-shadow: unset;
      transform: translateY(-10%);
    }

    .checkbox-container.is-enabled::after {
      color: var(--color-green);
      content: ":)";
      transform: translate(16px, -10%);
    }

    input.slider {
      border-radius: unset;
    }
  }
}

body.flexcyon-flex-max-mode,
body.flexcyon-settings-coloured-icons {
  div.setting-group.installed-plugins-container
    > div.setting-items
    > div
    > div.setting-item-control
    > div:last-of-type {
    color: oklch(from var(--color-red) l c h / 90%);
  }

  div.setting-group
    > div.setting-items
    > div
    > div.setting-item-control
    > div:first-of-type:not(:last-of-type),
  div.setting-group.installed-plugins-container
    > div.setting-items
    > div
    > div.setting-item-control
    > div:first-of-type {
    color: oklch(from var(--color-blue) l c h / 90%);
  }

  .setting-add-hotkey-button,
  .extra-setting-button.mod-hotkeys,
  div.setting-group.installed-plugins-container
    > div.setting-items
    > div
    > div.setting-item-control
    > div:nth-of-type(2) {
    color: oklch(from var(--color-green) l c h / 90%);
  }

  div.setting-group.installed-plugins-container
    > div.setting-items
    > div
    > div.setting-item-control
    > div:nth-of-type(3):not(:last-of-type) {
    color: oklch(from var(--color-pink) l c h / 90%);
  }

  .setting-restore-hotkey-button {
    color: oklch(from var(--color-purple) l c h / 90%);
  }
}

@mixin ascii-icon-sel-after-wrapper($selector, $content) {
  #{$selector} {
    &::after {
      content: "#{$content}";
    }

    svg {
      display: none;
    }
  }
}

@mixin ascii-icon-small-after-wrapper($selector, $content) {
  #{$selector} {
    &::after {
      font-size: var(--font-ui-small);
      content: "#{$content}";
    }

    svg {
      display: none;
    }
  }
}

body.flexcyon-ascii-icon-set:not(.flexcyon-ensure-plugin-icon),
body.flexcyon-ascii-icon-set.flexcyon-ensure-plugin-icon:not(
    [class*="iconic"]
  ) {
  @include ascii-icon-small-after-wrapper(
    ".workspace-tab-header-inner-close-button, .modal-close-button",
    "x_x"
  );
  @include ascii-icon-small-after-wrapper(".search-input-clear-button", "x_x");

  .search-input-container {
    &::before,
    svg {
      display: none;
    }

    &::after {
      position: absolute;
      inset-block-end: 4px;
      inset-inline-start: 0;
      font-size: var(--font-ui-small);
      content: "?/";
    }
  }

  .modal.mod-settings .vertical-tab-content {
    padding-block-start: 48px;
  }

  .iconic-rule-icon::after {
    font-size: var(--font-ui-small);
    content: "./^";
  }

  .iconic-add::after {
    font-size: var(--font-ui-small);

    // color: var(--color-green);
    content: "[~]";
    transform: translateX(-24px);
  }

  .iconic-drag::after {
    font-size: var(--font-ui-small);
    content: "|||";
  }

  @include ascii-icon-sel-after-wrapper(".modal-setting-nav-bar div", "<");
  @include ascii-icon-sel-after-wrapper(
    ".view-actions button:last-of-type",
    "..."
  );

  .mod-settings {
    @include ascii-icon-sel-after-wrapper(
      "div.installed-plugins-container > div.setting-items .setting-item-control :last-of-type:not(.checkbox-container)",
      "*_*"
    );
    @include ascii-icon-sel-after-wrapper(
      "div.installed-plugins-container > div.setting-items .setting-item-control :nth-of-type(4n + 3):not(.checkbox-container, :last-of-type)",
      ":3"
    );
    @include ascii-icon-sel-after-wrapper(
      "div.installed-plugins-container > div.setting-items .setting-item-control :nth-of-type(4n + 2):not(.checkbox-container, :last-of-type)",
      "[%]"
    );
    @include ascii-icon-sel-after-wrapper(
      "div.installed-plugins-container > div.setting-items .setting-item-control :nth-of-type(4n + 1):not(.checkbox-container, :last-of-type)",
      "[*]"
    );
    @include ascii-icon-sel-after-wrapper(
      ".setting-restore-hotkey-button ",
      "[0]"
    );
    @include ascii-icon-sel-after-wrapper(".setting-add-hotkey-button ", "[+]");
  }

  .style-settings-heading > div.setting-item-control {
    @include ascii-icon-sel-after-wrapper(":last-of-type", "-<");
    @include ascii-icon-sel-after-wrapper(
      ":nth-of-type(2n + 1):not(:last-of-type)",
      "[0]"
    );
  }

  .setting-item-heading:not(.style-settings-heading)
    > div.setting-item-control {
    @include ascii-icon-sel-after-wrapper(":last-of-type", "./");
    @include ascii-icon-sel-after-wrapper(":first-of-type", "[R]");
  }

  div.setting-item-control {
    @include ascii-icon-sel-after-wrapper("> div:has(+ select + button)", "./");
    @include ascii-icon-sel-after-wrapper("> div:has(+ input)", "[0]");
    @include ascii-icon-sel-after-wrapper(
      "> div:has(+ label.checkbox-container)",
      "[i]"
    );
    @include ascii-icon-sel-after-wrapper("> input + div", "[0]");
  }

  @include ascii-icon-sel-after-wrapper(
    ".style-settings-collapse-indicator",
    ">"
  );

  .workspace-tab-header-status-icon.mod-pinned {
    &::after {
      font-size: var(--font-ui-large);
      font-weight: 900;
      content: "!";
    }

    svg {
      display: none;
    }
  }

  @include ascii-icon-sel-after-wrapper(
    ".workspace-tab-header-tab-list span",
    "..."
  );
  @include ascii-icon-sel-after-wrapper(
    ".sidebar-toggle-button.mod-left div",
    "{"
  );

  // Unexplained cursed 180 degree rotation
  @include ascii-icon-sel-after-wrapper(
    ".sidebar-toggle-button.mod-righ div",
    "{"
  );

  .nav-buttons-container {
    gap: 4px;
  }
}

body.flexcyon-prevent-accidental-unpin {
  .mod-pinned,
  .workspace
    .mod-root
    .workspace-tab-header
    .workspace-tab-header-inner-close-button:has(
      + .workspace-tab-header-status-container
    ) {
    pointer-events: none;
  }
}
