body {
  --flexcyon-top-actions-alignment: center;
  --modal-border-color: var(--color-base-10);
  --toggle-thumb-color: var(--text-on-accent);
  --ribbon-width: 48px;
  --file-line-width: 50rem;
  --vault-name-color: var(--interactive-accent);
  --ribbon-background-collapsed: var(--ribbon-background);
  --workspace-background-translucent: unset;

  .workspace-split:not(.is-sidedock-collapsed) {
    .clickable-icon {
      padding: 4px 8px;
      opacity: var(--dimmed);

      &:hover {
        opacity: unset;
        scale: var(--upsize);
      }
    }

    .view-header-nav-buttons .clickable-icon,
    .view-actions .clickable-icon {
      padding: 4px 8px;
    }

    .graph-controls .clickable-icon,
    .clickable-icon.side-dock-ribbon-action {
      padding: var(--size-2-2) var(--size-2-3);
    }
  }

  .nav-buttons-container {
    gap: 1px;
  }

  &:not(.is-mobile) div.nav-buttons-container {
    justify-content: var(--flexcyon-top-actions-alignment);
    opacity: calc(var(--dimmed) + 0.2);

    &:hover {
      opacity: unset;
    }
  }

  .workspace-sidedock-vault-profile {
    .workspace-drawer-vault-actions {
      gap: 4px;
    }
  }

  .tree-item-flair {
    color: var(--text-muted);
  }

  .workspace-ribbon {
    border-inline-end: unset;
  }

  &:not(.is-grabbing) :is(.nav-file-title:hover, .nav-folder-title:hover) {
    color: var(--interactive-accent-hover);
  }

  .cm-formatting.cm-formatting-task {
    color: var(--color-purple);
  }

  div.modal-content.vertical-tabs-container
    > div.vertical-tab-header
    > div
    > div.vertical-tab-header-group-items {
    & div.vertical-tab-nav-item {
      opacity: var(--dimmed);
    }

    & div.vertical-tab-nav-item.is-active {
      opacity: 1;

      div.vertical-tab-nav-item-icon {
        padding-inline-start: 4px;
        color: var(--text-accent);
      }
    }
  }

  .notice {
    color: var(--text-normal);
  }
}

body.flexcyon-ribbon-top {
  --ribbon-width: max-content;

  .workspace {
    .workspace-ribbon {
      position: absolute;
      inset-block-start: -40px;
      padding-inline-start: 8px;
      margin-inline-start: 8px;

      .side-dock-actions {
        flex-direction: row;
        padding-inline-end: 150vw;
        margin-inline-start: 48px;
      }
    }

    .workspace-split {
      padding-block-start: 48px;
    }
  }
}

body.flexcyon-vault-switch-top {
  .workspace-split:has(> .workspace-sidedock-vault-profile) {
    flex-direction: column-reverse;
  }
}

body.flexcyon-reverse-mode,
body.flexcyon-vault-reverse {
  .workspace-sidedock-vault-profile {
    flex-direction: row-reverse;
  }
}

.drag-ghost-hidden::before {
  background-color: oklch(from var(--interactive-accent) l c h / 30%);
}

.workspace-leaf.is-highlighted::before {
  background-color: oklch(from var(--interactive-accent) l c h / 25%);
}

@media (hover: hover) {
  .card.u-clickable:hover {
    background-color: oklch(from var(--interactive-accent) l c h / 10%);
  }
}

.card.is-selected {
  background-color: oklch(from var(--interactive-accent) l c h / 20%);
}

.tree-item-self.is-being-dragged-over {
  background: oklch(from var(--interactive-accent) l c h / 10%);
}

@mixin nth-hover-color($color-map: ()) {
  $max-index: 0;

  @each $index, $color in $color-map {
    $max-index: max($max-index, $index);
  }

  $interval: $max-index + 1;

  @each $index, $color in $color-map {
    & :nth-of-type(#{$interval}n + #{$index}):hover {
      color: var(--color-#{$color});
    }
  }
}

body.flexcyon-flex-max-mode div.side-dock-actions,
body.flexcyon-sidedock-icon-effects div.side-dock-actions {
  opacity: var(--dimmed);
  scale: var(--upsize);

  &:hover {
    opacity: 1;
  }

  & :hover {
    scale: var(--expand);
  }

  @include nth-hover-color(
    (
      0: purple,
      1: cyan,
      2: blue,
      3: pink,
      4: green,
      5: yellow,
      6: orange,
      7: red,
    )
  );
}

body.flexcyon-workspace-angled-layout {
  .collapse-icon.is-collapsed svg.svg-icon {
    transform: rotate(calc(var(--direction) * -1 * 90deg)) skewX(-5deg);
  }

  .tree-item-self .collapse-icon svg {
    transform: skewX(7.5deg);
  }
}

$workspace-inner-sel: ":is(.mod-left-split, .mod-right-split) .workspace-tab-header-container-inner";
$workspace-status-sel: ".workspace-tab-header-inner-icon + div + div.workspace-tab-header-status-container";
$workspace-status-pin-sel: ".workspace-tab-header-inner-icon:has(+ div + div.workspace-tab-header-status-container > .mod-pinned)";

body.flexcyon-stylised-pins #{$workspace-inner-sel} {
  #{$workspace-status-sel} {
    inline-size: 0;

    .mod-pinned {
      --icon-size: var(--icon-xs);

      color: var(--color-accent-2);
      transform: translate(-3px, -9px);
    }
  }

  #{$workspace-status-pin-sel} {
    padding-inline-start: 4px;
    margin-block-start: 4px;
    transform: translateX(-2px);
  }
}

body.flexcyon-stylised-pins.flexcyon-vertical-nav #{$workspace-inner-sel} {
  #{$workspace-status-pin-sel} {
    transform: translateY(8px);
  }

  #{$workspace-status-sel} .mod-pinned {
    --icon-size: var(--icon-xs);

    color: var(--color-accent-2);
    transform: translate(5px, -22px);
  }
}

.mod-root .workspace-tab-header-status-icon {
  color: var(--color-accent-2);
}

body.flexcyon-reverse-tab-header-content .workspace-tab-header-inner {
  flex-direction: row-reverse;
}

body #{$workspace-inner-sel} {
  gap: 1px;
  padding: unset;
  margin: unset;
}
