// The code snippets in this file are derived from the Halcyon theme
// - https://github.com/dbarenholz/halcyon-obsidian?tab=readme-ov-file
// A huge shout out too to kepano's flexoki color scheme
// - https://github.com/kepano/flexoki-obsidian
// And the great origami theme
// - https://github.com/7368697661/Origami
body.theme-dark {
  --flexcyon-cyan: #3cb9c2;
  --flexcyon-lime-green: #a1c05c;
  --flexcyon-orange: #cc8449;
  --flexcyon-yellow: #c29e42;
  --flexcyon-purple-lilac: #a461c8;
  --flexcyon-red-salmon: #c03a47;
  --flexcyon-blue: #5a8fcd;
  --flexcyon-pink: #d458a3;
}

body:is(.theme-dark) {
  --color-red-rgb: 192, 58, 71;
  --color-orange-rgb: 204, 132, 73;
  --color-yellow-rgb: 194, 158, 66;
  --color-green-rgb: 161, 192, 92;
  --color-cyan-rgb: 60, 185, 194;
  --color-blue-rgb: 90, 143, 205;
  --color-purple-rgb: 164, 97, 200;
  --color-pink-rgb: 212, 88, 163;
}

body.theme-light {
  --flexcyon-cyan: #3b9ba1;
  --flexcyon-lime-green: #689523;
  --flexcyon-orange: #ed8126;
  --flexcyon-yellow: #e8c62a;
  --flexcyon-purple-lilac: #6f49ae;
  --flexcyon-red-salmon: #eb5325;
  --flexcyon-blue: #5c9fe4;
  --flexcyon-pink: #e389ca;
}

body:is(.theme-light) {
  --color-red-rgb: 235, 83, 87;
  --color-orange-rgb: 237, 129, 38;
  --color-yellow-rgb: 232, 198, 42;
  --color-green-rgb: 104, 149, 35;
  --color-cyan-rgb: 59, 155, 161;
  --color-blue-rgb: 92, 159, 228;
  --color-purple-rgb: 111, 73, 174;
  --color-pink-rgb: 227, 137, 202;
}

body.theme-light,
body.theme-dark {
  --color-red: var(--flexcyon-red-salmon);
  --color-orange: var(--flexcyon-orange);
  --color-yellow: var(--flexcyon-yellow);
  --color-green: var(--flexcyon-lime-green);
  --color-cyan: var(--flexcyon-cyan);
  --color-blue: var(--flexcyon-blue);
  --color-purple: var(--flexcyon-purple-lilac);
  --color-pink: var(--flexcyon-pink);
}

/* obsi-snip-coll start: extended-color */
@mixin ext-col-wrapper($color-1, $color-2) {
  $color-1-wrapper: "#{$color-1}-#{$color-2}";
  $color-2-wrapper: "#{$color-2}-#{$color-1}";

  --color-#{$color-1-wrapper}-mix: color-mix(
    in oklch,
    var(--color-#{$color-1}),
    var(--color-#{$color-2})
  );
  --color-#{$color-1-wrapper}-mix-bg: color-mix(
    in oklch,
    color-mix(in oklch, var(--color-#{$color-1}), var(--color-#{$color-2}))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
  --color-#{$color-2-wrapper}-mix: color-mix(
    in oklch,
    var(--color-#{$color-2}),
    var(--color-#{$color-1})
  );
  --color-#{$color-2-wrapper}-mix-bg: color-mix(
    in oklch,
    color-mix(in oklch, var(--color-#{$color-2}), var(--color-#{$color-1}))
      var(--flexcyon-callout-bg-opacity),
    transparent
  );
}

body.flexcyon-flex-max-mode,
body.flexcyon-ext-colors-enabled {
  @include ext-col-wrapper(red, blue);
  @include ext-col-wrapper(red, orange);
  @include ext-col-wrapper(red, yellow);
  @include ext-col-wrapper(red, green);
  @include ext-col-wrapper(red, cyan);
  @include ext-col-wrapper(red, purple);
  @include ext-col-wrapper(red, pink);
  @include ext-col-wrapper(orange, yellow);
  @include ext-col-wrapper(orange, green);
  @include ext-col-wrapper(orange, cyan);
  @include ext-col-wrapper(orange, blue);
  @include ext-col-wrapper(orange, purple);
  @include ext-col-wrapper(orange, pink);
  @include ext-col-wrapper(yellow, green);
  @include ext-col-wrapper(yellow, cyan);
  @include ext-col-wrapper(yellow, blue);
  @include ext-col-wrapper(yellow, purple);
  @include ext-col-wrapper(yellow, pink);
  @include ext-col-wrapper(green, cyan);
  @include ext-col-wrapper(green, blue);
  @include ext-col-wrapper(green, purple);
  @include ext-col-wrapper(green, pink);
  @include ext-col-wrapper(cyan, blue);
  @include ext-col-wrapper(cyan, purple);
  @include ext-col-wrapper(cyan, pink);
  @include ext-col-wrapper(blue, purple);
  @include ext-col-wrapper(blue, pink);
  @include ext-col-wrapper(purple, pink);
}

/* obsi-snip-coll end */
