/* Modifications to not display properties in reading mode */
body:where(.theme-dark) {
    // --metadata-display-reading: none;
    --metadata-label-text-color: var(--flexcyon-purple-lilac);
    --metadata-label-text-color-hover: var(--flexcyon-palette-lilac-hover);

    /* Modifications for metadata container */
    div.metadata-container div.metadata-property-value {
        opacity: var(--dimmed);
    }

    .metadata-property {

        :focus,
        :focus-within,
        :focus:before {
            border-radius: 2px;
        }
    }

    .metadata-property-icon {
        color: var(--flexcyon-cyan);
    }
}

body:is(.theme-dark) {
    :is(textarea, input:not([type=checkbox]), input.metadata-input-text, select):is(:focus, :active, :focus-visible),
    .metadata-property:is(:focus, :focus-within),
    .text-icon-button:focus,
    .metadata-properties-heading:focus:before {
        box-shadow: 0 0 0 1px var(--interactive-accent);
    }
}