/* Modifications for HandaArchitect's banner snippet */
body {
  .banner img[alt="banner"] {
    padding: 1px;
    z-index: 0;
  }

  div.card-content-container img[alt="banner"],
  .popover .banner img[alt="banner"] {
    display: none;
  }

  .banner {
    .internal-embed .markdown-preview-pusher,
    span.internal-embed .image-embed img[alt="banner"] {
      display: none;
    }
  }

  .banner.markdown-preview-view {
    .el-p .image-embed img[alt="banner"] {
      display: unset;
    }
  }
}
