/* Modifications for HandaArchitect's banner snippet */
body {
  .banner img[alt="banner"] {
    z-index: 1;
    padding: 1px;
  }

  div.card-content-container img[alt="banner"],
  .popover .banner img[alt="banner"] {
    display: none;
  }

  .banner {
    .internal-embed .markdown-preview-pusher,
    span.internal-embed .image-embed img[alt="banner"] {
      display: none;
    }
  }

  /* Banner hotfix */
  .banner.is-live-preview .image-embed img[alt="banner"] {
    position: fixed;
    inline-size: 99%;
  }
}
