/* Modifications for HandaArchitect's banner snippet */
body {
  .banner img[alt="banner"] {
    z-index: 1;
    padding: 1px;
  }

    div.card-content-container img[alt="banner"],
  .popover .banner img[alt="banner"] {
    display: none;
  }

  .banner {
    .internal-embed .markdown-preview-pusher,
    span.internal-embed .image-embed img[alt="banner"] {
      display: none;
    }
  }

  .banner.is-live-preview .internal-embed[alt="banner"] div:has(img[alt="banner"]) {
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
    inline-size: 100%;
  }
}
