// Display none scrollbar in settings container
body.flexcyon-flex-max-mode,
body.flexcyon-settings-scrollbar-removed {
  --scrollbar-bg: transparent;

  div.community-modal-search-results-wrapper,
  div.modal.mod-settings .vertical-tab-header,
  div.modal-content.vertical-tabs-container {
    & ::-webkit-scrollbar-thumb {
      display: none;
    }
  }
}

body:not(.native-scrollbars) ::-webkit-scrollbar {
  inline-size: 8px;
  background-color: var(--scrollbar-bg);
}

// Ultra performant scrolling thanks to Kapirklaa and Floodlight
.markdown-preview-view {
  will-change: scroll-position;
}

.markdown-preview-view > .markdown-preview-pusher {
  will-change: margin-bottom;
}
