/* obsi-snip-coll start: ascii-art */
body.theme-dark {
  --flexcyon-new-tab-bg-wrapper: linear-gradient(
    to right,
    var(--text-accent),
    var(--color-blue),
    var(--color-cyan)
  );
}

body.theme-light {
  --flexcyon-new-tab-bg-wrapper: linear-gradient(
    to right,
    var(--text-accent),
    var(--color-pink),
    var(--color-green)
  );
}

body {
  --flexcyon-ascii-max-font-size: 14px;
  --flexcyon-ascii-max-width: 50rem;
  --flexcyon-quote-font-size: 24px;
  --flexcyon-ascii-line-height: 1;
  --flexcyon-ascii-scaling-factor: 1;
  --flexcyon-quote-val: "This is a placeholder quote\ain the Flexcyon Theme.";
  --flexcyon-quote-credit-prefix: "-";
  --flexcyon-quote-credit: "bladeacer";
  --flexcyon-ascii-art: " \a\
_______________                                       \a\
___  ____/__  /________  ____________  ______________ \a\
__  /_   __  /_  _ \\_  |/_/  ___/_  / / /  __ \\_  __ \\ \a\
_  __/   _  / /  __/_>  < / /__ _  /_/ // /_/ /  / / / \a\
/_/      /_/  \\___//_/|_| \\___/ _\\__, / \\____//_/ /_/ \a\
                                /____/                \a\a\a ";
  --flexcyon-ascii-alignment: left;
  --flexcyon-new-tab-font-group: var(--font-monospace);

  div.empty-state-action {
    font-size: 1.05rem;
    color: var(--text-accent);
    opacity: 0.95;
  }

  div.empty-state-title {
    font-size: 1.25rem;
  }

  .empty-state-container {
    content-visibility: auto;
  }
}

body.flexcyon-flex-max-mode,
body.flexcyon-ascii-enable {
  div.empty-state {
    content-visibility: auto;
  }

  div.empty-state-title {
    display: unset;
  }

  div.empty-state-container {
    max-inline-size: var(--flexcyon-ascii-max-width);
    max-block-size: unset;
    scale: var(--flexcyon-ascii-scaling-factor);
  }

  .reveal .pause-overlay,
  div.empty-state-container {
    &::before {
      font-family: var(--flexcyon-new-tab-font-group);
      content: var(--flexcyon-ascii-art);
      font-weight: bold;
      background: var(--flexcyon-new-tab-bg-wrapper);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      line-height: var(--flexcyon-ascii-line-height);
      white-space: pre;
      text-align: var(--flexcyon-ascii-alignment);
      display: inline;
      font-size: min(calc(5vw - 3.25px), var(--flexcyon-ascii-max-font-size));
    }
  }

  .reveal .pause-overlay {
    &::before {
      position: absolute;
      line-height: calc(var(--flexcyon-ascii-line-height) + 0.25);
      margin: auto;
      max-inline-size: max-content;
      max-block-size: max-content;
      inset: 0 0 calc(16px * 2 + 4px * 2) calc(16px + 6px * 2 + 4px * 2);
    }
  }
}

body.is-mobile.flexcyon-flex-max-mode,
body.is-mobile.flexcyon-ascii-enable {
  .workspace-leaf > div > div > div.empty-state {
    > div.empty-state-container::before {
      font-size: min(calc(3.5vw - 3px), var(--flexcyon-ascii-max-font-size));
      margin-block-end: 1rem;
      line-height: 0.8;
    }
  }
}

/* obsi-snip-coll end */

body.flexcyon-flex-max-mode,
body.flexcyon-empty-state-title-disable {
  .workspace-leaf > div > div > div.empty-state {
    > div.empty-state-title {
      display: none;
    }
  }
}

body.flexcyon-empty-state-actions-disable {
  .workspace-leaf > div > div > div.empty-state {
    > div > div.empty-state-action-list {
      display: none;
    }
  }
}

body.flexcyon-quote-enable {
  .workspace-leaf > div > div > div.empty-state {
    > div.empty-state-container::before {
      font-family: var(--flexcyon-new-tab-font-group);
      content: var(--flexcyon-quote-val) "\a\a"
        var(--flexcyon-quote-credit-prefix) " " var(--flexcyon-quote-credit);
      font-weight: bold;
      background: var(--flexcyon-new-tab-bg-wrapper);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      line-height: var(--flexcyon-ascii-line-height);
      white-space: pre;
      text-align: center;
      display: inline;
      font-size: var(--flexcyon-quote-font-size);
    }

    > div.empty-state-container {
      transform: translateY(-105px);

      > div.empty-state-action-list {
        margin-block-start: 32px;
      }
    }
  }
}

body.flexcyon-rtz-mode:not(.flexcyon-flex-max-mode) {
  .workspace-leaf > div > div > div.empty-state {
    > div.empty-state-container::before {
      content: "0" !important;
      font-size: calc(10 * var(--flexcyon-ascii-max-font-size));
      font-family: var(--flexcyon-new-tab-font-group);
      font-weight: bold;
      background: var(--text-accent);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      line-height: var(--flexcyon-ascii-line-height);
      white-space: pre;
      text-align: center;
      display: inline;
    }

    > div.empty-state-action-list {
      display: none;
    }

    > .sidebar-toggle-button {
      display: none;
    }
  }

  .graph-controls,
  .oz-folders-action-items.file-tree-header-fixed,
  .oz-flex-container,
  .nav-header,
  .titlebar-button-container,
  .view-header-left,
  .view-actions,
  .side-dock-ribbon,
  .workspace-tab-header-new-tab,
  .workspace-tab-header-tab-list,
  .workspace-sidedock-vault-profile {
    opacity: 0;

    &:hover {
      opacity: unset;
    }
  }

  .cm-gutter,
  .metadata-container,
  .status-bar {
    opacity: var(--dimmed);

    &:hover {
      opacity: unset;
    }
  }
}

/* obsi-snip-coll start: number-tabs */
body.flexcyon-rtz-mode,
body.flexcyon-number-tabs {
  counter-reset: numTab 0;

  .workspace-tab-header-inner-title::before {
    content: counter(numTab);
    color: inherit;
    font-weight: bold;
    margin-inline-end: 12px;
    font-size: var(--font-ui-medium);
    overflow: hidden;
  }

  .workspace-tab-header {
    counter-increment: numTab;
  }

  .mod-stacked .workspace-tab-header-inner-title::before {
    margin-block-end: 12px;
  }
}

/* obsi-snip-coll end */

body.flexcyon-rtz-mode,
body.flexcyon-remove-tab-headers {
  --tab-stacked-font-size: 0px;

  .workspace-tabs .workspace-tab-header {
    --tab-width: 90px;

    .workspace-tab-header-inner-title {
      font-size: 0;

      &::before {
        margin-inline-end: 0;
      }
    }
  }
}
