body.flexcyon-flex-max-mode,
body.flexcyon-empty-state-title-disable {
  .workspace-leaf > div > div > div.empty-state {
    > div.empty-state-title {
      display: none;
    }
  }
}

body.flexcyon-empty-state-actions-disable {
  .workspace-leaf > div > div > div.empty-state {
    > div > div.empty-state-action-list {
      display: none;
    }
  }
}

body.flexcyon-quote-enable {
  .workspace-leaf > div > div > div.empty-state {
    > div.empty-state-container::before {
      display: inline-block;
      font-family: var(--flexcyon-new-tab-font-group);
      font-size: var(--flexcyon-quote-font-size);
      font-weight: bold;
      line-height: var(--flexcyon-ascii-line-height);
      text-align: center;
      white-space: pre;
      content: var(--flexcyon-quote-val) "\a\a"
        var(--flexcyon-quote-credit-prefix) " " var(--flexcyon-quote-credit);
      background: var(--flexcyon-new-tab-bg-wrapper);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    > div.empty-state-container {
      transform: translateY(-105px);

      > div.empty-state-action-list {
        margin-block-start: 32px;
      }
    }
  }
}

body.flexcyon-rtz-mode {
  .workspace-leaf > div > div > div.empty-state {
    > div.empty-state-container::before {
      display: inline-block;
      font-family: var(--flexcyon-new-tab-font-group);
      font-size: calc(10 * var(--flexcyon-ascii-max-font-size));
      font-weight: bold;
      line-height: var(--flexcyon-ascii-line-height);
      text-align: center;
      white-space: pre;
      content: "0" !important;
      background: var(--text-accent);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    > div.empty-state-action-list {
      display: none;
    }

    > .sidebar-toggle-button {
      display: none;
    }
  }

  .graph-controls,
  .oz-folders-action-items.file-tree-header-fixed,
  .oz-flex-container,
  .nav-header,
  .titlebar-button-container,
  .view-header-left,
  .view-actions,
  .side-dock-ribbon,
  .workspace-tab-header-new-tab,
  .workspace-tab-header-tab-list,
  .workspace-sidedock-vault-profile {
    opacity: 0;

    &:hover {
      opacity: unset;
    }
  }

  .cm-gutter,
  .metadata-container,
  .status-bar {
    opacity: var(--dimmed);

    &:hover {
      opacity: unset;
    }
  }
}

/*! obsi-snip-coll start: number-tabs */
body.flexcyon-rtz-mode,
body.flexcyon-number-tabs {
  counter-reset: numTab 0;

  .workspace-tab-header-inner-title::before {
    margin-inline-end: 12px;
    overflow: hidden;
    font-size: var(--font-ui-medium);
    font-weight: bold;
    color: inherit;
    content: counter(numTab);
  }

  .workspace-tab-header {
    counter-increment: numTab;
  }

  .mod-stacked .workspace-tab-header-inner-title::before {
    margin-block-end: 12px;
  }
}

/*! obsi-snip-coll end */

body.flexcyon-rtz-mode,
body.flexcyon-remove-tab-headers {
  --tab-stacked-font-size: 0px;

  .workspace-tabs .workspace-tab-header {
    --tab-width: 90px;

    .workspace-tab-header-inner-title {
      font-size: 0;

      &::before {
        margin-inline-end: 0;
      }
    }
  }
}
