// TODO: This code was derived from Karp

// .workspace-leaf:has(.workspace-leaf-content[data-type="empty"])::before {
// content: "";
//position: absolute;
//background-blend-mode: color;
//top: 0; bottom: 0;
//left: 0; right: 0;
//background-color: rgb(109, 250, 255);
//background-blend-mode: color;
//opacity: 0.8;
// }

// .workspace-leaf-content[data-type="empty"] {
//backdrop-filter: blur(7px);
// }

// .workspace-leaf-content[data-type="empty"] .view-content {
//background: none;
// }

// .workspace-leaf-content[data-type="empty"]::before {
//content: "";
//position: absolute;
//top: 0; bottom: 0;
//left: 0; right: 0;
//background-color: rgb(161, 225, 255);
//opacity: 0.5;
// }

// .empty-state-container {
//padding: 15px;
//border-radius: var(--radius-l);
//background: rgba(var(--mono-rgb-0), 0.8);
// }

body.theme-dark {
    --flexcyon-ascii-art-1: " \a\
    /\\_____/\\ \a\
   /  o   o  \\ \a\
  ( ==  ^  == ) \a\
   )         (\a\
    \\_________/\a\a";

    --flexcyon-ascii-art-2: "__  __                                       __         _ __\a\
    \ \/ /___  __  __   _________ _____     ____/ /___     (_) /_\a\
    \  / __ \/ / / /  / ___/ __ `/ __ \   / __  / __ \   / / __/\a\
    / / /_/ / /_/ /  / /__/ /_/ / / / /  / /_/ / /_/ /  / / /_\a\
    /_/\____/\__,_/   \___/\__,_/_/ /_/   \__,_/\____/  /_/\__/ ";
    .flexcyon-ascii-art-opt-1 {
        --flexcyon-new-tab-ascii-art: var(--flexcyon-ascii-art-1);
    }
    .flexcyon-ascii-art-opt-2 {
        --flexcyon-new-tab-ascii-art: var(--flexcyon-ascii-art-2);
    }

    --flexcyon-new-tab-ascii-art: var(--flexcyon-ascii-art-1);

    // div.empty-state-title {
    //     display: none;
    // }

    div.empty-state-title::before {
        font-family: monospace;
        content: var(--flexcyon-new-tab-ascii-art);
        // width: 20px;
        line-height: 1;
        white-space: pre;
    }
    div.empty-state-container {
        transform: translateY(-115px);
    }
}
