// The code snippets in this file are derived from the Halcyon theme
// - https://github.com/dbarenholz/halcyon-obsidian?tab=readme-ov-file
body.theme-dark {
  --flexcyon-link-color: #a461c8;
  --flexcyon-link-unresolved-color: #a461c8;
  --flexcyon-external-link-color: #5a8fcd;
}

body.theme-light {
  --flexcyon-link-color: #6f49ae;
  --flexcyon-link-unresolved-color: #6f49ae;
  --flexcyon-external-link-color: #5c9fe4;
}

body {
  --flexcyon-link-hover: color-mix(
    in hsl shorter hue,
    var(--flexcyon-link-color),
    var(--flexcyon-base-grey-dark)
  );
  --flexcyon-external-link-hover: color-mix(
    in hsl shorter hue,
    var(--flexcyon-external-link-color),
    var(--flexcyon-base-grey-dark)
  );

  --link-color: var(--flexcyon-link-color);
  --link-color-hover: var(--flexcyon-link-hover);

  --link-unresolved-color: var(--flexcyon-link-unresolved-color);
  --link-unresolved-decoration-style: dashed;
  --link-unresolved-decoration-color: var(--flexcyon-link-unresolved-color);

  --link-external-color: var(--flexcyon-external-link-color);
  --link-external-color-hover: var(--flexcyon-external-link-hover);
}

body {
  .backlink-pane,
  .outgoing-link-pane {
    .search-result-container {
      padding: 1.5px 3px;
    }
    .tree-item-inner-text,
    .tree-item-inner-subtext {
      padding: 0px 6px;
    }
    .tree-item-inner,
    .tree-item-icon {
      padding: 1px 0px;
    }
    .search-empty-state {
      padding-inline-start: 6px;
    }
    .search-result-file-title {
      margin-left: 2px;
    }
  }
}

body.flexcyon-alt-link-style {
  --link-decoration: none;
  --link-color-hover: var(--color-base-05);
  --link-color: var(--color-base-05);

  --link-external-decoration: none;
  --link-external-color: var(--color-base-05);
  --link-external-color-hover: var(--color-base-05);

  --link-unresolved-color: var(--color-base-05);
  --link-unresolved-decoration-color: var(--color-base-05);
  --link-unresolved-decoration-style: dashed;

  .markdown-rendered .internal-link,
  .cm-s-obsidian span.cm-hmd-internal-link {
    background-color: rgba(var(--color-purple-rgb), var(--dimmed));
    font-size: var(--font-ui-medium);
    padding: 2px 4px;
  }
  .bases-rendered-value.markdown-rendered .internal-link {
    background-color: unset;
    --link-color: var(--flexcyon-link-color);
    --link-color-hover: var(--flexcyon-link-hover);

    --link-unresolved-color: var(--flexcyon-link-unresolved-color);
    --link-unresolved-decoration-style: dashed;
    --link-unresolved-decoration-color: var(--flexcyon-link-unresolved-color);

    --link-external-color: var(--flexcyon-external-link-color);
    --link-external-color-hover: var(--flexcyon-external-link-hover);
    font-size: unset;
  }

  .cm-string.cm-url {
    background-color: transparent;
    color: rgba(var(--color-blue-rgb), var(--dimmed));
  }

  .cm-link,
  .markdown-rendered .external-link,
  .cm-s-obsidian span.cm-hmd-external-link {
    background-color: rgba(var(--color-blue-rgb), var(--dimmed));
    font-size: var(--font-ui-medium);
    padding: 2px 4px;
  }
  .external-link {
    background-image: none;
  }
}
