// The code snippets in this file are derived from the Halcyon theme
// - https://github.com/dbarenholz/halcyon-obsidian?tab=readme-ov-file
body.theme-dark {
  --flexcyon-link-color: #a461c8;
  --flexcyon-link-unresolved-color: #a461c8;
  --flexcyon-external-link-color: #5a8fcd;
}

body.theme-light {
  --flexcyon-link-color: #6f49ae;
  --flexcyon-link-unresolved-color: #6f49ae;
  --flexcyon-external-link-color: #5c9fe4;
}

body {
  --flexcyon-link-hover: color-mix(
    in hsl shorter hue,
    var(--flexcyon-link-color),
    var(--flexcyon-base-grey-dark)
  );
  --flexcyon-external-link-hover: color-mix(
    in hsl shorter hue,
    var(--flexcyon-external-link-color),
    var(--flexcyon-base-grey-dark)
  );
  --link-color: var(--flexcyon-link-color);
  --link-color-hover: var(--flexcyon-link-hover);
  --link-unresolved-color: var(--flexcyon-link-unresolved-color);
  --link-unresolved-decoration-style: dashed;
  --link-unresolved-decoration-color: var(--flexcyon-link-unresolved-color);
  --link-external-color: var(--flexcyon-external-link-color);
  --link-external-color-hover: var(--flexcyon-external-link-hover);
  --flexcyon-alt-link-opacity: 55%;

  .backlink-pane,
  .outgoing-link-pane {
    .search-result-container {
      padding: 1.5px 3px;
    }

    .tree-item-inner-text,
    .tree-item-inner-subtext {
      padding: 0 6px;
    }

    .tree-item-inner,
    .tree-item-icon {
      padding: 1px 0;
    }

    .search-empty-state {
      padding-inline-start: 6px;
    }

    .search-result-file-title {
      margin-inline-start: 2px;
    }
  }
}

body.flexcyon-alt-link-style {
  --link-decoration: none;
  --link-color-hover: var(--color-base-05);
  --link-color: var(--color-base-05);
  --link-external-decoration: none;
  --link-external-color: var(--color-base-05);
  --link-external-color-hover: var(--color-base-05);
  --link-unresolved-color: var(--color-base-05);
  --link-unresolved-decoration-color: var(--color-base-05);
  --link-unresolved-decoration-style: dashed;

  a.style-settings-import {
    margin-block-start: 1px;
  }

  a,
  .markdown-rendered .internal-link,
  .cm-s-obsidian span.cm-hmd-internal-link,
  .cm-link,
  .markdown-rendered .external-link,
  .cm-s-obsidian span.cm-hmd-external-link {
    padding: 2px 4px;

    a {
      padding: unset;
    }
  }

  .bases-rendered-value.markdown-rendered .internal-link {
    padding: unset;
    font-size: unset;
  }

  a:not(:is(.style-settings-import, .style-settings-export)),
  a.style-settings-import,
  .markdown-rendered .internal-link,
  .cm-s-obsidian span.cm-hmd-internal-link {
    color: var(--color-base-05);
    background-color: color-mix(
      in oklch,
      var(--flexcyon-link-color) var(--flexcyon-alt-link-opacity),
      transparent
    );

    a {
      color: unset;
      background-color: unset;
      padding: unset;
    }
  }

  a.style-settings-export,
  .cm-link,
  .markdown-rendered .external-link,
  .cm-s-obsidian span.cm-hmd-external-link {
    background-color: color-mix(
      in oklch,
      var(--flexcyon-external-link-color) var(--flexcyon-alt-link-opacity),
      transparent
    );

    a {
      color: unset;
      background-color: unset;
      padding: unset;
    }
  }
}
