// The code snippets in this file are derived from the Halcyon theme
// - https://github.com/dbarenholz/halcyon-obsidian?tab=readme-ov-file

body {
  --tab-text-color: var(--flexcyon-base-05);
  --tab-text-color-focused: var(--flexcyon-base-05);
  --tab-text-color-active: var(--text-accent);
  --tab-text-color-focused-active: var(--text-accent);
  --tab-text-color-focused-active-current: var(--text-accent);
  --tab-divider-color: var(--titlebar-background);
  --tab-outline-width: 0px;
  --tab-curve: 0px;
  --tab-radius: 0px;
  --tab-radius-active: 0px;
}

body.flexcyon-workspace-card-layout {
  .view-header-breadcrumb-separator {
    display: none;
  }

  .view-header-breadcrumb {
    padding: 4px 8px;
    border-radius: var(--flexcyon-callout-radix);
  }

  .view-header-title-container {
    gap: 8px;
  }

  .view-header-title-parent {
    gap: 8px;

    :nth-of-type(5n + 1) {
      background-color: var(--color-base-20);
    }

    :nth-of-type(5n + 3) {
      background-color: var(--color-base-25);
    }

    :nth-of-type(5n) {
      background-color: var(--color-base-05);
    }

    :has(+ :last-child)::after {
      background-color: var(--color-base-05);
    }
  }
}

body.flexcyon-workspace-angled-layout {
  .view-header-breadcrumb-separator {
    display: none;
  }

  .view-header-title {
    padding: var(--flexcyon-mode-view-header-title-verti-padding)
      var(--flexcyon-mode-view-header-title-horiz-padding);
    background-color: var(--color-base-20);
    border-radius: 0;
    transform: skewX(-22.5deg);
  }

  .view-header-title-parent {
    transform: skewX(-22.5deg);
  }

  .view-header-title-parent .view-header-breadcrumb {
    padding: var(--flexcyon-mode-view-header-title-verti-padding)
      var(--flexcyon-mode-view-header-title-horiz-padding);
    background-color: var(--color-base-05);
  }
}

body.flexcyon-flex-max-mode,
body.flexcyon-workspace-pl10k-layout {
  .view-header-title-parent {
    :nth-of-type(5n + 1) {
      background-color: var(--color-base-20);

      &::after {
        background-color: var(--color-base-25);
      }
    }

    :nth-of-type(5n + 3) {
      background-color: var(--color-base-25);

      &::after {
        background-color: var(--color-base-05);
      }
    }

    :nth-of-type(5n) {
      background-color: var(--color-base-05);

      &::after {
        background-color: var(--color-base-20);
      }
    }

    :has(+ :last-child)::after {
      background-color: var(--color-base-05);
    }
  }

  .view-header-title {
    padding: var(--flexcyon-mode-view-header-title-verti-padding)
      var(--flexcyon-mode-view-header-title-horiz-padding);
    margin-inline-start: -1.5px;
    background-color: var(--color-base-05);
    border-radius: var(--flexcyon-callout-radix);
    border-start-start-radius: 0;
    border-end-start-radius: 0;
  }

  .view-header-breadcrumb-separator {
    display: none;
    padding: 0;
  }

  .view-header,
  .view-header-title-container {
    gap: 0;
  }

  .view-header-title-container:not(:has(.view-header-breadcrumb))
    .view-header-title {
    border-radius: var(--flexcyon-callout-radix);
  }

  .view-header-title-parent .view-header-breadcrumb {
    padding: 4px 0;
    border-radius: 0;

    &::after {
      position: relative;
      inline-size: inherit;
      block-size: inherit;
      padding: 10px 6px;
      color: transparent;
      content: "e";
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 70% 50%);
    }
  }

  .view-header-title-parent :first-child.view-header-breadcrumb {
    padding-inline-start: 12px;
    border-start-start-radius: 16px;
    border-end-start-radius: 16px;
  }
}
