// The code snippets in this file are derived from the Halcyon theme
// - https://github.com/dbarenholz/halcyon-obsidian?tab=readme-ov-file

body {
  --tab-text-color: var(--flexcyon-base-05);
  --tab-text-color-focused: var(--flexcyon-base-05);
  --tab-text-color-active: var(--text-accent);
  --tab-text-color-focused-active: var(--text-accent);
  --tab-text-color-focused-active-current: var(--text-accent);
  --tab-divider-color: var(--titlebar-background);

  --tab-outline-width: 0px;
  --tab-curve: 0px;
  --tab-radius: 0px;
  --tab-radius-active: 0px;
  --flexcyon-anim-duration: 0.3s;

  --flexcyon-anim-easing: ease-in-out;
  --flexcyon-anim-slide-amount: 56.63105px;
  --flexcyon-anim-rotate-amount: 50deg;
  --flexcyon-anim-start-scale-amt: 0.33;
  --flexcyon-anim-start-opacity: 0.55;

  --flexcyon-view-header-breadcrumb-max-w: 12.5vw;
  --flexcyon-mode-view-header-title-verti-padding: 4px;
  --flexcyon-mode-view-header-title-horiz-padding: 12px;

  .view-header-breadcrumb {
    max-width: var(--flexcyon-view-header-breadcrumb-max-w);
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

body.flexcyon-workspace-angled-layout {
  .view-header-breadcrumb-separator {
    display: none;
  }

  .view-header-title {
    transform: skewX(-22.5deg);
    border-radius: 0px;
    background-color: var(--color-base-20);
    padding: var(--flexcyon-mode-view-header-title-verti-padding)
      var(--flexcyon-mode-view-header-title-horiz-padding);
  }

  .view-header-title-parent {
    transform: skewX(-22.5deg);
  }

  .view-header-title-parent .view-header-breadcrumb {
    padding: var(--flexcyon-mode-view-header-title-verti-padding)
      var(--flexcyon-mode-view-header-title-horiz-padding);
    background-color: var(--color-base-05);
  }
}

body.flexcyon-flex-max-mode,
body.flexcyon-workspace-pl10k-layout {
  .view-header-title-parent {
    :nth-of-type(5n + 1) {
      background-color: var(--color-base-20);
      &::after {
        background-color: var(--color-base-25);
      }
    }

    :nth-of-type(5n + 3) {
      background-color: var(--color-base-25);
      &::after {
        background-color: var(--color-base-05);
      }
    }

    :nth-of-type(5n) {
      background-color: var(--color-base-05);
      &::after {
        background-color: var(--color-base-20);
      }
    }
    :has(+ :last-child)::after {
      background-color: var(--color-base-05);
    }
  }
  .view-header-title-container:not(:has(.view-header-breadcrumb))
    .view-header-title {
    border-radius: var(--flexcyon-callout-radix);
  }

  .view-header-title-parent :first-child.view-header-breadcrumb {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    padding-left: 12px;
  }

  .view-header-title-parent .view-header-breadcrumb {
    padding: 4px 0px;

    &::after {
      padding: 10px 6px;
      content: "e";
      position: relative;
      width: inherit;
      height: inherit;
      color: transparent;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 70% 50%);
    }
  }

  .view-header-title {
    padding: var(--flexcyon-mode-view-header-title-verti-padding)
      var(--flexcyon-mode-view-header-title-horiz-padding);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: var(--color-base-05);
  }
  .view-header-breadcrumb-separator {
    display: none;
  }
  .view-header,
  .view-header-title-container {
    gap: 0px;
  }
}

body.flexcyon-workspace-card-layout {
  .view-header-breadcrumb-separator {
    display: none;
  }
  .view-header-breadcrumb {
    border-radius: var(--flexcyon-callout-radix);
    padding: 4px 8px;
  }
  .view-header-title-container {
    gap: 8px;
  }

  .view-header-title-parent {
    gap: 8px;
    :nth-of-type(5n + 1) {
      background-color: var(--color-base-20);
    }

    :nth-of-type(5n + 3) {
      background-color: var(--color-base-25);
    }

    :nth-of-type(5n) {
      background-color: var(--color-base-05);
    }
    :has(+ :last-child)::after {
      background-color: var(--color-base-05);
    }
  }
  .view-header-title {
    padding: 4px 8px;
    background-color: var(--color-base-05);
    border-radius: var(--flexcyon-callout-radix);
  }
}

@mixin anims-def($anim-name, $transform-1, $transform-2) {
  @keyframes #{$anim-name} {
    0% {
      opacity: var(--flexcyon-anim-start-opacity);
      transform: $transform-1;
    }
    100% {
      opacity: 1;
      transform: $transform-2;
    }
  }
}

@include anims-def(
  slide-in-left,
  translateX(calc(var(--flexcyon-anim-slide-amount) * -1)),
  translateX(0)
);
@include anims-def(
  slide-in-right,
  translateX(var(--flexcyon-anim-slide-amount)),
  translateX(0)
);
@include anims-def(
  slide-in-tb,
  translateY(calc(var(--flexcyon-anim-slide-amount) * -1)),
  translateY(0)
);
@include anims-def(
  slide-in-bt,
  translateY(var(--flexcyon-anim-slide-amount)),
  translateY(0)
);
@include anims-def(
  spin-in-rl,
  rotateY(var(--flexcyon-anim-rotate-amount)),
  rotateY(0)
);
@include anims-def(
  spin-in-bt,
  rotateX(var(--flexcyon-anim-rotate-amount)),
  rotateX(0)
);

@include anims-def(
  scale-up,
  scale(var(--flexcyon-anim-start-scale-amt)),
  scale(1)
);

@keyframes fade-in {
  0% {
    opacity: var(--flexcyon-anim-start-opacity);
  }

  100% {
    opacity: 1;
  }
}

@mixin anims-modal-wrapper($anim-class, $anim-type, $is-flex-max: 0) {
  body.flexcyon-modal-anims-#{$anim-class} {
    .modal .community-modal-info,
    .modal .vertical-tab-content,
    .modal,
    .prompt {
      animation: $anim-type var(--flexcyon-anim-duration)
        var(--flexcyon-anim-easing);
    }
  }
  body.flexcyon-anims-modal-#{$anim-class}.flexcyon-anim-style-settings-contain {
    .style-settings-container {
      animation: $anim-type var(--flexcyon-anim-duration)
        var(--flexcyon-anim-easing);
    }
  }
  @if ($is-flex-max == 1) {
    body.flexcyon-flex-max-mode {
      .modal .community-modal-info,
      .modal .vertical-tab-content,
      .modal,
      .style-settings-container,
      .prompt {
        animation: $anim-type
          var(--flexcyon-anim-duration)
          var(--flexcyon-anim-easing);
      }
    }
  }
}

@mixin anims-wrapper($anim-class, $anim-type, $is-flex-max: 0) {
  body.flexcyon-anims-#{$anim-class} {
    .mod-stacked
      .workspace-leaf.mod-active
      .workspace-leaf-content:not([data-type="file-explorer"]),
    .view-content {
      animation: $anim-type var(--flexcyon-anim-duration)
        var(--flexcyon-anim-easing);
    }
  }
  @if ($is-flex-max == 1) {
    body.flexcyon-flex-max-mode {
      .mod-stacked
        .workspace-leaf.mod-active
        .workspace-leaf-content:not([data-type="file-explorer"]),
      .view-content {
        animation: $anim-type
          var(--flexcyon-anim-duration)
          var(--flexcyon-anim-easing);
      }
    }
  }
}

@include anims-wrapper(scale-up, scale-up);
@include anims-wrapper(slide-rtl, slide-in-right);
@include anims-wrapper(slide-ltr, slide-in-left);
@include anims-wrapper(slide-tb, slide-in-tb);
@include anims-wrapper(slide-bt, slide-in-bt);
@include anims-wrapper(spin-rl, spin-in-rl);
@include anims-wrapper(spin-bt, spin-in-bt);
@include anims-wrapper(fade-in, fade-in, 1);

@include anims-modal-wrapper(scale-up, scale-up);
@include anims-modal-wrapper(slide-rtl, slide-in-right);
@include anims-modal-wrapper(slide-ltr, slide-in-left, 1);
@include anims-modal-wrapper(slide-tb, slide-in-tb);
@include anims-modal-wrapper(slide-bt, slide-in-bt);
@include anims-modal-wrapper(spin-rl, spin-in-rl);
@include anims-modal-wrapper(spin-bt, spin-in-bt);
@include anims-modal-wrapper(fade-in, fade-in);
