body.flexcyon-vim-mode-text-enable {

  .markdown-source-view.mod-cm6 .cm-panels.cm-panels-bottom {
    border-top: unset;
    padding-top: 6px;
  }

  .cm-editor .cm-scroller:not(.cm-vimMode) .cm-sizer::before {
    content: var(--flexcyon-vim-insert-text);
    bottom: -9px;
    left: 12px;
    position: fixed;
    color: var(--color-green);
    width: 100vw;
    height: 35px;
    padding-left: 4px;
  }

  .cm-editor .cm-scroller.cm-vimMode:not(:has(+ .cm-panels)) .cm-sizer::before {
    content: var(--flexcyon-vim-normal-text);
    position: fixed;
    bottom: -9px;
    left: 12px;
    width: 100vw;
    height: 35px;
    padding-left: 4px;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    color: var(--color-orange);
  }

  .cm-panels .cm-panel div div:not(.cm-vim-message) span:first-child {
    bottom: 4px;
    left: 69px;
  }

  .cm-panels .cm-panel {
    background-color: var(--color-base-00);
    padding-top: 5px;
  }

  .cm-panels input {
    transform: translateY(-4.5px);
    z-index: 16;
  }


  .cm-editor>.cm-scroller+.cm-panels .cm-panel div div:not(.cm-vim-message)::before {
    content: var(--flexcyon-vim-command-text);
    bottom: 12px;
    padding-right: 4px;
    color: var(--color-blue);
  }

  div.cm-vim-message {
    // Blame inline styling :v
    color: var(--color-red) !important;
    font-weight: bold;
  }
}