body.theme-dark {
  --cm-panel-bg: var(--color-base-00);
}

body.theme-light {
  --cm-panel-bg: color-mix(
    in srgb,
    var(--color-base-05) 55%,
    var(--color-base-10) 45%
  );
}

body {
  --cm-font-size: calc(var(--font-ui-small) + 0.809px);
}

body.flexcyon-flex-max-mode,
body.flexcyon-vim-mode-text-enable:not(.flexcyon-status-text-enable-color) {
  .markdown-source-view.mod-cm6 .cm-panels.cm-panels-bottom {
    padding-block-start: 6px;
    border-block-start: unset;
  }

  .markdown-source-view.mod-cm6
    .cm-editor
    .cm-scroller:not(.cm-vimMode)
    .cm-sizer:has(+ .cm-vimCursorLayer)::before {
    position: fixed;
    inset-block-end: var(--flexcyon-vim-bottom-positioning);
    inset-inline-start: var(--flexcyon-vim-left-positioning);
    z-index: 2;
    block-size: 30px;
    padding: 0 8px;
    font-family: var(--font-interface);
    font-size: var(--cm-font-size);
    color: var(--text-muted);
    content: var(--flexcyon-vim-insert-text);
    background-color: var(--cm-panel-bg);
  }

  .markdown-source-view.mod-cm6
    .cm-editor
    .cm-scroller.cm-vimMode:not(:has(+ .cm-panels))
    .cm-sizer:has(+ .cm-vimCursorLayer)::before {
    position: fixed;
    inset-block-end: var(--flexcyon-vim-bottom-positioning);
    inset-inline-start: var(--flexcyon-vim-left-positioning);
    z-index: 2;
    block-size: 30px;
    padding: 0 8px;
    font-family: var(--font-interface);
    font-size: var(--cm-font-size);
    color: var(--text-muted);
    content: var(--flexcyon-vim-normal-text);
    background-color: var(--cm-panel-bg);
  }

  .cm-panels .cm-panel div div:not(.cm-vim-message) span:first-child {
    inset-block-end: var(--flexcyon-vim-bottom-positioning);
    inset-inline-start: 75px;
  }

  .cm-panels .cm-panel {
    padding-block-start: 5px;
    font-weight: 500;
    background-color: var(--color-base-00);
  }

  .cm-panels input {
    z-index: 16;
    font-size: 0.9rem;
    transform: translateY(-4px);
  }

  .cm-editor
    > .cm-scroller
    + .cm-panels
    .cm-panel
    div
    div:not(.cm-vim-message)::before {
    inset-block-end: var(--flexcyon-vim-bottom-positioning);
    padding-inline-end: 4px;
    font-family: var(--font-interface);
    font-size: var(--cm-font-size);
    content: var(--flexcyon-vim-command-text);
  }

  .cm-editor > .cm-scroller + .cm-panels .cm-panel div {
    color: var(--text-muted);
  }

  div.cm-vim-message {
    font-weight: bold;
    color: var(--color-red) !important;
  }
}

body.flexcyon-vim-mode-text-enable.flexcyon-status-text-enable-color {
  .markdown-source-view.mod-cm6 .cm-panels.cm-panels-bottom {
    padding-block-start: 6px;
    border-block-start: unset;
  }

  .cm-editor
    .cm-scroller:not(.cm-vimMode)
    .cm-sizer:has(+ .cm-vimCursorLayer)::before {
    position: fixed;
    inset-block-end: var(--flexcyon-vim-bottom-positioning);
    inset-inline-start: var(--flexcyon-vim-left-positioning);
    block-size: 30px;
    padding: 0 8px;
    color: var(--text-accent);
    content: var(--flexcyon-vim-insert-text);
  }

  .cm-editor
    .cm-scroller.cm-vimMode:not(:has(+ .cm-panels))
    .cm-sizer:has(+ .cm-vimCursorLayer)::before {
    position: fixed;
    inset-block-end: var(--flexcyon-vim-bottom-positioning);
    inset-inline-start: var(--flexcyon-vim-left-positioning);
    block-size: 30px;
    padding: 0 8px;
    font-family: var(--font-interface);
    color: var(--color-purple);
    content: var(--flexcyon-vim-normal-text);
  }

  .cm-panels .cm-panel div div:not(.cm-vim-message) span:first-child {
    inset-block-end: var(--flexcyon-vim-bottom-positioning);
    inset-inline-start: 75px;
  }

  .cm-panels .cm-panel {
    padding-block-start: 5px;
    font-weight: 500;
    background-color: var(--color-base-00);
  }

  .cm-panels input {
    z-index: 16;
    font-size: 0.9rem;
    transform: translateY(-4px);
  }

  .cm-editor
    > .cm-scroller
    + .cm-panels
    .cm-panel
    div
    div:not(.cm-vim-message)::before {
    inset-block-end: var(--flexcyon-vim-bottom-positioning);
    padding-inline-end: 4px;
    color: var(--color-blue);
    content: var(--flexcyon-vim-command-text);
  }

  .cm-editor > .cm-scroller + .cm-panels .cm-panel div {
    color: var(--text-muted);
  }

  div.cm-vim-message {
    font-weight: bold;

    // Blame inline styling :v
    color: var(--color-red) !important;
  }
}

body.is-mobile.flexcyon-vim-mode-text-enable {
  .cm-editor
    .cm-scroller:not(.cm-vimMode)
    .cm-sizer:has(+ div + div + .cm-vimCursorLayer)::before {
    position: fixed;
    inset-block-end: var(--flexcyon-vim-bottom-positioning);
    inset-inline-start: var(--flexcyon-vim-left-positioning);
    block-size: 30px;
    padding-inline-start: 4px;
    content: var(--flexcyon-vim-insert-text);
  }

  .cm-editor
    .cm-scroller.cm-vimMode:not(:has(+ .cm-panels))
    .cm-sizer:has(+ div + div + .cm-vimCursorLayer)::before {
    position: fixed;
    inset-block-end: var(--flexcyon-vim-bottom-positioning);
    inset-inline-start: var(--flexcyon-vim-left-positioning);
    block-size: 30px;
    padding-inline-start: 4px;
    content: var(--flexcyon-vim-normal-text);
  }
}

body.flexcyon-status-style-angled {
  .cm-editor
    .cm-scroller:not(.cm-vimMode)
    .cm-sizer:has(+ .cm-vimCursorLayer)::before,
  .cm-editor
    .cm-scroller.cm-vimMode:not(:has(+ .cm-panels))
    .cm-sizer:has(+ .cm-vimCursorLayer)::before {
    background-color: var(--color-base-25);
    transform: skewX(-22.5deg);
  }

  .cm-panels .cm-panel {
    background-color: var(--color-base-05);
  }
}

body.flexcyon-status-style-card {
  .cm-editor
    .cm-scroller:not(.cm-vimMode)
    .cm-sizer:has(+ .cm-vimCursorLayer)::before,
  .cm-editor
    .cm-scroller.cm-vimMode:not(:has(+ .cm-panels))
    .cm-sizer:has(+ .cm-vimCursorLayer)::before {
    margin: 0 8px;
    line-height: 30px;
    border: 2px solid var(--color-base-20);
    border-radius: var(--flexcyon-callout-radix);
  }

  .markdown-source-view.mod-cm6
    .cm-panels.cm-panels-bottom
    .cm-panel.cm-vim-panel {
    margin: 0 8px;
    border: 2px solid var(--color-base-20);
    border-radius: var(--flexcyon-callout-radix);
  }

  div:has(.cm-vim-panel) + .status-bar {
    margin-block-end: 50px;
  }
}
