@use "./settings-modules/settings_icons";
@use "./settings-modules/community-store";

body {
  --settings-background: var(--color-base-05);
  --setting-items-background: unset;
  --setting-items-padding: 2px 0px;
  --setting-items-radius: unset;
  --setting-items-padding-x: 0px;
  --setting-items-padding-y: 16px;

  .text-snippets-class > * {
    inline-size: min(48em, 50vw);
  }

  .text-snippets-class > * > textarea {
    inline-size: min(32em, 35vw);
    margin-block: 16px;
  }

  .modal.mod-settings .search-input-container::before {
    inset-block-start: calc(
      (var(--input-height) - var(--search-icon-size)) / 2 - 0px
    );
  }

  .modal.mod-settings .vertical-tab-header .setting-search-container {
    padding: 16px 16px 2px;
  }

  .setting-item-name {
    font-size: var(--font-ui-medium);
    line-height: var(--line-height-tight);
  }

  .mod-settings hr {
    border-color: transparent;
  }

  .setting-item-heading .setting-item-name {
    font-size: var(--font-ui-large);
  }

  .modal-sidebar {
    padding: 16px 8px;
  }

  .setting-item {
    border-block-start: none;
  }

  .setting-group .setting-item-heading {
    padding: 16px 0;
    margin-block-end: 0;
  }

  .setting-item + div > .setting-item-heading,
  .setting-item + .setting-item-heading {
    margin-block-start: 1.5em;
  }

  .setting-group.mod-hotkeys > .setting-items > .setting-item {
    --setting-items-padding-y: 16px;
  }

  .setting-group .setting-item:not(.setting-item-heading)::before {
    display: none;
  }

  .setting-group .setting-group-search {
    padding-block: 0 12px;
  }

  .horizontal-tab-nav-item,
  .vertical-tab-nav-item {
    padding: calc(var(--size-4-1) + 1px) var(--size-4-2);
    margin-block-end: 1px;
    font-size: calc(var(--font-ui-medium) - 0.75px);
  }
}

body.flexcyon-no-keychain-setting-item {
  .mod-settings .vertical-tab-nav-item[data-setting-id="keychain"] {
    display: none;
  }
}

body.is-mobile {
  .view-actions {
    justify-content: center;
  }

  div.setting-item {
    flex-direction: column;
    align-items: unset;

    .setting-item-control {
      align-items: unset;
      justify-content: unset;
    }
  }

  .text-snippets-class > *,
  .text-snippets-class > * > textarea {
    inline-size: 50%;
    block-size: max-content;
  }
}

.is-phone .modal .setting-item-control input {
  inline-size: max-content;
}

body.is-mobile .vertical-tab-content {
  background-color: var(--color-base-05);
}
