body {
  --settings-background: var(--color-base-05);
  --setting-items-background: unset;
  --setting-items-padding: 2px 0px;
  --setting-items-radius: unset;
  --flexcyon-comm-item-opacity: 0.89;
  --flexcyon-comm-text-padding: 4px 16px;
  --setting-items-padding-x: 0px;
  --setting-items-padding-y: 16px;

  .text-snippets-class > * {
    inline-size: min(48em, 50vw);
  }

  .text-snippets-class > * > textarea {
    inline-size: min(32em, 35vw);
    margin-block: 16px;
  }


  .modal.mod-settings .search-input-container::before {
    inset-block-start: calc(
      (var(--input-height) - var(--search-icon-size)) / 2 - 0px
    );
  }

  .modal.mod-settings .vertical-tab-header .setting-search-container {
    padding: 16px 16px 2px;
  }

  .setting-item-name {
    font-size: var(--font-ui-medium);
    line-height: var(--line-height-tight);
  }

  .mod-community-modal .modal-sidebar .setting-item.mod-toggle {
    padding: 4px 16px;
  }

  .mod-settings hr {
    border-color: transparent;
  }

  .setting-item-heading .setting-item-name {
    font-size: var(--font-ui-large);
  }

  .mod-community-modal
    .modal-sidebar:not(:has(+ .community-modal-details))
    .setting-item.mod-toggle {
    margin-block-start: -8px;
  }

  .community-modal-controls {
    padding-inline: 4px;
  }

  .community-item {
    padding: 8px 0;
    background-color: var(--color-base-00);

    div {
      margin-inline: 8px;
    }

    img {
      padding: 8px;
      padding-block-end: 4px;
      margin: 0;
    }
  }

  .modal-sidebar {
    padding: 16px 8px;
  }

  .community-modal-search-summary {
    padding: 4px 16px;
    margin-inline-start: 4px;
  }

  .community-modal-search-results {
    gap: 12px;
    padding: 16px;
  }

  .community-modal-info hr {
    display: none;
  }

  .setting-item {
    border-block-start: none;
  }

  .setting-group .setting-item-heading {
    padding: 16px 0;
    margin-block-end: 0;
  }

  .setting-item + div > .setting-item-heading,
  .setting-item + .setting-item-heading {
    margin-block-start: 1.5em;
  }

  .setting-group.mod-hotkeys > .setting-items > .setting-item {
    --setting-items-padding-y: 16px;
  }

  .setting-group .setting-item:not(.setting-item-heading)::before {
    display: none;
  }

  .setting-group .setting-group-search {
    padding-block: 0 12px;
  }

  .horizontal-tab-nav-item,
  .vertical-tab-nav-item {
    padding: calc(var(--size-4-1) + 1px) var(--size-4-2);
    margin-block-end: 1px;
    font-size: calc(var(--font-ui-medium) - 0.75px);
  }
}

body.flexcyon-no-settings-icons {
  .mod-settings .vertical-tab-nav-item-icon {
    display: none;
  }
}

body.flexcyon-no-keychain-setting-item {
  .mod-settings .vertical-tab-nav-item[data-setting-id="keychain"] {
    display: none;
  }
}

body.flexcyon-workspace-card-layout {
  .community-modal-info-name {
    padding: var(--flexcyon-comm-text-padding);
    padding-block-start: 16px;
    margin-block: 8px 0;
    border: 2px solid var(--text-faint);
    border-block-end: 0;
    border-start-start-radius: 16px;
    border-start-end-radius: 16px;
  }

  .community-modal-info-downloads,
  .community-modal-info-version,
  .community-modal-info-author,
  .community-modal-info-repo,
  .community-modal-info-desc {
    padding: var(--flexcyon-comm-text-padding);
    overflow-wrap: break-word;
    border: 2px solid var(--text-faint);
    border-block-start: 0;
    border-block-end: 0;
  }

  .community-modal-info-desc {
    margin-block-start: 0;
  }

  .community-modal-info-downloads {
    inline-size: 100%;
    margin-block-start: 0;
  }

  .community-modal-button-container {
    padding: 16px;
    padding-block-end: 24px;
    margin: 0;
    border: 2px solid var(--text-faint);
    border-block-start: 0;
    border-end-start-radius: 16px;
    border-end-end-radius: 16px;
  }

  .community-modal-readme {
    margin-block-start: 32px;
  }
}

body.flexcyon-flex-max-mode:not(.is-phone),
body.flexcyon-settings-comm-item-enabled:not(.is-phone) {
  div.community-modal-search-results div.community-item {
    opacity: var(--flexcyon-comm-item-opacity);
  }

  div.community-modal-search-results div.community-item.is-selected {
    font-weight: 525;
    border: unset;
    opacity: unset;
  }

  div.community-item div.community-item-name span.flair.mod-pop {
    position: absolute;
    inset-block-start: 0.7rem;
    inset-inline-end: 0.5rem;
    color: var(--color-base-25);
    background-color: var(--text-accent);
  }

  .community-item.is-selected {
    background-color: var(--color-base-20);
  }

  .community-item-name {
    inline-size: 60%;
    overflow: visible;
    text-overflow: clip;
    color: var(--color-blue);
    white-space: normal;
  }

  .community-item-downloads,
  .community-modal-info-downloads {
    color: oklch(
      from var(--color-cyan) l c h / var(--flexcyon-comm-item-opacity)
    );
  }

  .community-item-updated {
    color: oklch(
      from var(--color-cyan) l c h /
        calc(var(--flexcyon-comm-item-opacity) - 0.1)
    );
  }

  .community-modal-info-version {
    color: oklch(
      from var(--color-green) / calc(var(--flexcyon-comm-item-opacity) - 0.1)
    );
  }
}

body.flexcyon-flex-max-mode:not([class*="iconic"]),
body.flexcyon-settings-smiley-icons-enabled.flexcyon-ensure-plugin-icon:not(
    [class*="iconic"]
  ),
body.flexcyon-settings-smiley-icons-enabled:not(.flexcyon-ensure-plugin-icon) {
  div.setting-item-control {
    .checkbox-container {
      font-weight: bolder;
      background-color: var(--color-base-05);
      box-shadow: unset;
    }

    .checkbox-container::after {
      inline-size: fit-content;
      block-size: fit-content;
      color: var(--color-red);
      content: ":(";
      background-color: inherit;
      border-radius: 25%;
      box-shadow: unset;
      transform: translateY(-10%);
    }

    .checkbox-container.is-enabled::after {
      color: var(--color-green);
      content: ":)";
      transform: translate(16px, -10%);
    }

    input.slider {
      border-radius: unset;
    }
  }
}

body.is-mobile {
  .view-actions {
    justify-content: center;
  }

  div.setting-item {
    flex-direction: column;
    align-items: unset;

    .setting-item-control {
      align-items: unset;
      justify-content: unset;
    }
  }

  .text-snippets-class > *,
  .text-snippets-class > * > textarea {
    inline-size: 50%;
    block-size: max-content;
  }
}

.is-phone .modal .setting-item-control input {
  inline-size: max-content;
}

body.flexcyon-flex-max-mode,
body.flexcyon-settings-coloured-icons {
  div.setting-group.installed-plugins-container
    > div.setting-items
    > div
    > div.setting-item-control
    > div:last-of-type {
    color: oklch(from var(--color-red) l c h / 90%);
  }

  div.setting-group
    > div.setting-items
    > div
    > div.setting-item-control
    > div:first-of-type:not(:last-of-type),
  div.setting-group.installed-plugins-container
    > div.setting-items
    > div
    > div.setting-item-control
    > div:first-of-type {
    color: oklch(from var(--color-blue) l c h / 90%);
  }

  .setting-add-hotkey-button,
  .extra-setting-button.mod-hotkeys,
  div.setting-group.installed-plugins-container
    > div.setting-items
    > div
    > div.setting-item-control
    > div:nth-of-type(2) {
    color: oklch(from var(--color-green) l c h / 90%);
  }

  div.setting-group.installed-plugins-container
    > div.setting-items
    > div
    > div.setting-item-control
    > div:nth-of-type(3):not(:last-of-type) {
    color: oklch(from var(--color-pink) l c h / 90%);
  }

  .setting-restore-hotkey-button {
    color: oklch(from var(--color-purple) l c h / 90%);
  }
}

body.is-mobile .vertical-tab-content {
  background-color: var(--color-base-05);
}

@mixin ascii-icon-sel-after-wrapper($selector, $content) {
  #{$selector} {
    &::after {
      content: "#{$content}";
    }

    svg {
      display: none;
    }
  }
}


@mixin ascii-icon-small-after-wrapper($selector, $content) {
  #{$selector} {
    &::after {
      font-size: var(--font-ui-small);
      content: "#{$content}";
    }

    svg {
      display: none;
    }
  }
}

body.flexcyon-ascii-icon-set:not(.flexcyon-ensure-plugin-icon),
body.flexcyon-ascii-icon-set.flexcyon-ensure-plugin-icon:not(
    [class*="iconic"]
  ) {
  @include ascii-icon-small-after-wrapper(
    ".workspace-tab-header-inner-close-button, .modal-close-button",
    "x_x"
  );
  @include ascii-icon-small-after-wrapper(".search-input-clear-button", "x_x");

  .search-input-container {
    &::before,
    svg {
      display: none;
    }

    &::after {
      position: absolute;
      inset-block-end: 4px;
      inset-inline-start: 0;
      font-size: var(--font-ui-small);
      content: "?/";
    }
  }

  .modal.mod-settings .vertical-tab-content {
    padding-block-start: 48px;
  }

  .iconic-rule-icon::after {
    font-size: var(--font-ui-small);
    content: "./^";
  }

  .iconic-add::after {
    font-size: var(--font-ui-small);

    // color: var(--color-green);
    content: "[~]";
    transform: translateX(-24px);
  }

  .iconic-drag::after {
    font-size: var(--font-ui-small);
    content: "|||";
  }

  @include ascii-icon-sel-after-wrapper(".modal-setting-nav-bar div", "<");
  @include ascii-icon-sel-after-wrapper(
    ".view-actions button:last-of-type",
    "..."
  );

  .mod-settings {
    @include ascii-icon-sel-after-wrapper(
      "div.installed-plugins-container > div.setting-items .setting-item-control :last-of-type:not(.checkbox-container)",
      "*_*"
    );
    @include ascii-icon-sel-after-wrapper(
      "div.installed-plugins-container > div.setting-items .setting-item-control :nth-of-type(4n + 3):not(.checkbox-container, :last-of-type)",
      ":3"
    );
    @include ascii-icon-sel-after-wrapper(
      "div.installed-plugins-container > div.setting-items .setting-item-control :nth-of-type(4n + 2):not(.checkbox-container, :last-of-type)",
      "[%]"
    );
    @include ascii-icon-sel-after-wrapper(
      "div.installed-plugins-container > div.setting-items .setting-item-control :nth-of-type(4n + 1):not(.checkbox-container, :last-of-type)",
      "[*]"
    );
    @include ascii-icon-sel-after-wrapper(
      ".setting-restore-hotkey-button ",
      "[0]"
    );
    @include ascii-icon-sel-after-wrapper(".setting-add-hotkey-button ", "[+]");
  }

  .style-settings-heading > div.setting-item-control {
    @include ascii-icon-sel-after-wrapper(":last-of-type", "-<");
    @include ascii-icon-sel-after-wrapper(
      ":nth-of-type(2n + 1):not(:last-of-type)",
      "[0]"
    );
  }

  .setting-item-heading:not(.style-settings-heading)
    > div.setting-item-control {
    @include ascii-icon-sel-after-wrapper(":last-of-type", "./");
    @include ascii-icon-sel-after-wrapper(":first-of-type", "[R]");
  }

  div.setting-item-control {
    @include ascii-icon-sel-after-wrapper("> div:has(+ select + button)", "./");
    @include ascii-icon-sel-after-wrapper("> div:has(+ input)", "[0]");
    @include ascii-icon-sel-after-wrapper(
      "> div:has(+ label.checkbox-container)",
      "[i]"
    );
    @include ascii-icon-sel-after-wrapper("> input + div", "[0]");
  }

  @include ascii-icon-sel-after-wrapper(
    ".style-settings-collapse-indicator",
    ">"
  );

  .workspace-tab-header-status-icon.mod-pinned {
    &::after {
      font-size: var(--font-ui-large);
      font-weight: 900;
      content: "!";
    }

    svg {
      display: none;
    }
  }

  @include ascii-icon-sel-after-wrapper(
    ".workspace-tab-header-tab-list span",
    "..."
  );
  @include ascii-icon-sel-after-wrapper(
    ".sidebar-toggle-button.mod-left div",
    "{"
  );

  // Unexplained cursed 180 degree rotation
  @include ascii-icon-sel-after-wrapper(
    ".sidebar-toggle-button.mod-righ div",
    "{"
  );

  .nav-buttons-container {
    gap: 4px;
  }
}

body.flexcyon-prevent-accidental-unpin {
  .mod-pinned,
  .workspace
    .mod-root
    .workspace-tab-header
    .workspace-tab-header-inner-close-button:has(
      + .workspace-tab-header-status-container
    ) {
    pointer-events: none;
  }
}

