// The code snippets in this file are derived from the Halcyon theme
// - https://github.com/dbarenholz/halcyon-obsidian?tab=readme-ov-file

body {
  --flexcyon-os-detail-padding-r: 24px;
  --flexcyon-screen-dimens-padding-l: 16px;
  --file-header-font-size: var(--font-ui-small);
  --flexcyon-editor-margin-top: 18px;

  .workspace-split.mod-left-split > .workspace-leaf-resize-handle {
    border-inline-end-width: 0;
  }

  .workspace-split.mod-right-split > .workspace-leaf-resize-handle {
    border-inline-start-width: 0;
  }

  .workspace-split.mod-horizontal > * > .workspace-leaf-resize-handle {
    border-block-end-width: 0;
  }
}

@property --w-raw {
  syntax: "<length>";
  inherits: true;
  initial-value: 100vw;
}

@property --h-raw {
  syntax: "<length>";
  inherits: true;
  initial-value: 100vh;
}

:root {
  --w: tan(atan2(var(--w-raw), 1px));
  --h: tan(atan2(var(--h-raw), 1px));
}

body .view-header-left {
  padding-block-start: 1vh;

  .view-header-nav-buttons {
    gap: 2px;
  }

  button {
    margin-block-start: 0.15vh;
    scale: var(--upsize);
  }
}

body .view-header-title-container {
  padding-block-start: 1.1vh;
}

body .view-header-left::after {
  font-size: 0;
}

%centre-div-resize {
  position: absolute;
  inset-inline: calc(0px * 2) 0;
  display: flex;
  justify-content: center;
  inline-size: fit-content;
  max-inline-size: 85%;
  margin: 0 auto;
}

body.flexcyon-display-screen-dimens .titlebar::after {
  padding-block-start: 12px;
  padding-inline-end: calc(8 * var(--flexcyon-screen-dimens-padding-l));
  font-size: var(--file-header-font-size);
  color: var(--text-muted);
  content: counter(w) "x" counter(h);
  counter-reset: h var(--h) w var(--w);

  @extend %centre-div-resize;
}

body.flexcyon-display-screen-dimens:not(:has(.mod-stacked)) .titlebar::after,
body.flexcyon-display-screen-dimens .mod-stacked .view-header-left::after {
  display: none;
}

$screen-dim-no-vh-sel: ":not(.show-view-header) .mod-root .workspace-tab-container .mod-active::before";
$screen-dim-sel: ":not(.mod-stacked) .view-header-left::after";

body.flexcyon-display-screen-dimens#{$screen-dim-no-vh-sel},
body.flexcyon-display-screen-dimens#{$screen-dim-sel} {
  padding-block-start: -0.5vh;
  padding-inline-start: var(--flexcyon-screen-dimens-padding-l);
  font-size: var(--file-header-font-size);
  color: var(--text-muted);
  content: counter(w) "x" counter(h);
  counter-reset: h var(--h) w var(--w);
}
body.flexcyon-display-screen-dimens#{$screen-dim-no-vh-sel} {
  padding-block-start: 4px;
}

body .view-actions {
  gap: 4px;
  padding-block-start: 1vh;

  button {
    margin-block-start: 0.15vh;
    scale: var(--upsize);
  }
}

body .view-actions::before {
  font-size: 0;
}

body.flexcyon-display-os .view-actions::before {
  padding-inline-end: var(--flexcyon-os-detail-padding-r);
  font-size: var(--file-header-font-size);
  color: var(--text-muted);
}

body.flexcyon-display-os:not(:has(.mod-stacked)) .titlebar::before,
body.flexcyon-display-os .mod-stacked .view-actions::before {
  display: none;
}

body.flexcyon-display-os .titlebar::before {
  padding-block-start: 11.5px;
  padding-inline-start: calc(5 * var(--flexcyon-os-detail-padding-r));
  font-size: var(--file-header-font-size);
  color: var(--text-muted);
}

body.flexcyon-display-os .titlebar::before,
body.flexcyon-display-os:not(.is-mobile) .view-actions::before {
  content: "Unknown Desktop";
}

$disp-os-sel: ".view-actions::before, .titlebar::before";
$disp-os-no-vh-sel: ":not(.show-view-header) .mod-root .workspace-tab-container .mod-active .workspace-leaf-content::after";

body.flexcyon-display-os.is-mobile {
  #{$disp-os-sel} {
    content: "Unknown Device";
  }
}

body.flexcyon-display-os {
  #{$disp-os-no-vh-sel} {
    position: fixed;
    inset-block-start: 2px;
    inset-inline-end: 16px;
  }
}

body.flexcyon-display-os:not(.show-view-header)
  .mod-root
  .workspace-tab-container
  .mod-active
  .workspace-leaf-content {
  padding-block-start: 6px;
}

@mixin os-wrapper($device-selector, $desc) {
  body.flexcyon-display-os#{$device-selector} {
    #{$disp-os-sel},
    #{$disp-os-no-vh-sel} {
      content: $desc;
    }
  }
}

@include os-wrapper(".is-mobile.emulate-mobile", "Mobile Emulation");
@include os-wrapper(".is-ios:not(.is-tablet)", "ios Device");
@include os-wrapper(".is-ios.is-tablet", "ios Tablet");
@include os-wrapper(".is-android:not(.is-tablet)", "Android Device");
@include os-wrapper(".is-android.is-tablet", "Android Tablet");
@include os-wrapper(":not(.is-mobile).mod-linux", "Linux Desktop");
@include os-wrapper(":not(.is-mobile).mod-windows", "Windows Desktop");
@include os-wrapper(
  ":not(.is-mobile, .mod-windows, .mod-linux)",
  "MacOS Desktop"
);

.markdown-source-view.mod-cm6 .cm-sizer {
  margin-block-start: var(--flexcyon-editor-margin-top);
}
