body {
  --flexcyon-style-settings-indent-width: 4px;

  div.pcr-app.visible {
    background-color: var(--color-base-30);
  }

  .pcr-app .pcr-interaction {
    .pcr-type {
      color: var(--text-normal);
      background: var(--color-base-50);
      opacity: 0.85;
    }

    .pcr-type.active {
      background: var(--text-accent);
      border: unset;
      opacity: unset;
    }

    .pcr-cancel {
      color: var(--text-normal);
      background: var(--color-red);
    }

    .pcr-save {
      color: var(--text-normal);
      background: var(--color-blue);
    }
  }
}

body:not(.css-settings-manager) .app-container::after {
  inset-inline: calc(0px * 2) 2px;
  z-index: 999;
  display: flex;
  justify-content: center;
  inline-size: fit-content;
  max-inline-size: 85%;
  padding: 16px;
  margin: 0 auto;
  margin-block-end: 48px;
  font-size: var(--font-ui-large);
  content: "Flexcyon works best with the Style Settings plugin, refer to the README or docs on how to install it.";
  background-color: var(--background-primary);
}

.themed-color-wrapper {
  .theme-dark .pickr-reset button {
    color: #d3d3d3aa;
    background-color: #191d28aa;
    scale: var(--upsize);
  }

  .theme-light .pickr-reset button {
    color: #080808aa;
    background-color: #edebe5aa;
    scale: var(--upsize);
  }
}

@mixin setting-item-heading-margin($data-level) {
  .setting-item-heading[data-level="#{$data-level}"],
  .setting-item-heading[data-level="#{$data-level}"]
    + .style-settings-container {
    margin-inline-start: calc(
      ($data-level + 1) * var(--flexcyon-style-settings-indent-width)
    );
  }
}

@include setting-item-heading-margin(0);
@include setting-item-heading-margin(1);
@include setting-item-heading-margin(2);
@include setting-item-heading-margin(3);
@include setting-item-heading-margin(4);
@include setting-item-heading-margin(5);
@include setting-item-heading-margin(6);

.style-settings-collapse-indicator svg {
  scale: calc(var(--expand) + 20%);
}

body.flexcyon-style-settings-dim-collapsed-headings {
  .style-settings-heading.is-collapsed {
    opacity: calc(var(--dimmed) + 0.05);
  }
}

.style-settings-import,
.style-settings-export {
  text-decoration: none;
}

.style-settings-import {
  color: var(--color-blue);
}

@mixin no-selector-dim($selector, $setting-name) {
  .style-settings-container .setting-item[data-id*="#{$selector}"] {
    cursor: not-allowed;
    opacity: var(--dimmed);

    .setting-item-control {
      pointer-events: none;
    }

    &::before {
      content: "This setting requires #{$setting-name} to be enabled first.";
    }
  }
}

@mixin no-selector-dim-alt($selector, $setting-name) {
  .style-settings-container .setting-item[data-id*="#{$selector}"] {
    cursor: not-allowed;
    opacity: var(--dimmed);

    .setting-item-control {
      pointer-events: none;
    }

    &::before {
      content: "This setting requires #{$setting-name} to be disabled first.";
    }
  }
}

$setting-name-1: "'Enable coloured headings'";

body:not(.flexcyon-coloured-headings) {
  @include no-selector-dim("flexcyon-h1-color", $setting-name-1);
  @include no-selector-dim("flexcyon-h2-color", $setting-name-1);
  @include no-selector-dim("flexcyon-h3-color", $setting-name-1);
  @include no-selector-dim("flexcyon-h4-color", $setting-name-1);
  @include no-selector-dim("flexcyon-h5-color", $setting-name-1);
  @include no-selector-dim("flexcyon-h6-color", $setting-name-1);
}

$setting-name-2: "'Enable Relative Line Numbers'";

body:not(.flexcyon-enable-rel-nums) {
  @include no-selector-dim("flexcyon-no-num-with-relative", $setting-name-2);
  @include no-selector-dim("flexcyon-relative-num-only", $setting-name-2);
  @include no-selector-dim("flexcyon-select-relative-num", $setting-name-2);
}

$setting-name-3: "'Enable Smooth Cursor'";

body:not(.flexcyon-enable-smooth-cursor) {
  @include no-selector-dim("flexcyon-cursor-duration", $setting-name-3);
  @include no-selector-dim("flexcyon-cursor-timing-fn", $setting-name-3);
  @include no-selector-dim("flexcyon-cursor-min-width", $setting-name-3);
}

$setting-name-4: "Typewriter Mode";

body:not(.flexcyon-typewriter-mode) {
  @include no-selector-dim("flexcyon-typewriter-mode-opacity", $setting-name-4);
}

$setting-name-5: "Writing Mode";

body:not(.flexcyon-editor-writing) {
  @include no-selector-dim(
    "flexcyon-editor-writing-indentation",
    $setting-name-5
  );
}

$setting-name-6: "'Do not display inline title'";

body.flexcyon-no-inline-title {
  @include no-selector-dim-alt("inline-title-size", $setting-name-6);
  @include no-selector-dim-alt("inline-title-weight", $setting-name-6);
  @include no-selector-dim-alt("inline-title-line-height", $setting-name-6);
}

$setting-name-7: "'Enable dimmed file extensions in file explorer'";

body:not(.flexcyon-file-exp-dimmed-file-exts-enabled) {
  @include no-selector-dim("flexcyon-exp-dimmed-nav-size", $setting-name-7);
}

$setting-name-8: "'Enable Active File Indicator'";

body:not(.flexcyon-enable-active-indicator) {
  @include no-selector-dim("flexcyon-active-indicator", $setting-name-8);
}

$setting-name-9: "'Rainbow folders' folder style";

body:not(.flexcyon-rainbow-folders) {
  @include no-selector-dim("flexcyon-is-bg-rainbow", $setting-name-9);
}

$setting-name-10: "'Hide until hover' or 'Hide until hold'";

body:not(.flexcyon-status-hide-until-hover, .flexcyon-status-hide-until-hold) {
  @include no-selector-dim(
    "flexcyon-status-hide-until-hover-text",
    $setting-name-10
  );
  @include no-selector-dim(
    "flexcyon-status-hide-until-hover-translation",
    $setting-name-10
  );
  @include no-selector-dim(
    "flexcyon-status-hide-hover-duration",
    $setting-name-10
  );
  @include no-selector-dim(
    "flexcyon-status-hide-hover-function",
    $setting-name-10
  );
}

$setting-name-11: "'Use text instead of icons for mode status'";

body:not(.flexcyon-status-text-mode) {
  @include no-selector-dim("flexcyon-status-reading-text", $setting-name-11);
  @include no-selector-dim("flexcyon-status-source-text", $setting-name-11);
  @include no-selector-dim("flexcyon-status-live-text", $setting-name-11);
}
