/*! 
@settings
name: flexcyon://mobile
id: flexcyon-mobile
settings:
  - title: About Mobile
    type: info-text
    description: Configure Style Settings related to mobile.
  - title: Revert to 1.11 Navigation UI Style
    id: flexcyon-revert-nav-item-alignment
    type: class-toggle
    default: true
*/
