/*! 
@settings
name: flexcyon://Plugins
id: flexcyon-plugins
settings:
  - title: Plugins
    type: heading
    level: 4
    collapsed: true
    description: Style settings related to supported plugins
  - title: Alternate file tree 
    type: heading
    level: 5
    collapsed: true
  - title: Folders font size
    id: oz-fta-folder-font-size
    description: Used in alternate file tree folder
    type: variable-number
    default: 0.925
    format: rem
  - title: Folders font color
    id: oz-fta-folder-pane-file-name-color
    type: variable-themed-color
    format: hex
    opacity: true
    default-light: "#080808"
    default-dark: "#d3d5d3"
  - title: Active folder color
    id: oz-fta-all-panes-active-text-color
    type: variable-themed-color
    format: hex
    default-light: "#080808"
    default-dark: "#d3d5d3"
  - title: Files font size
    id: oz-fta-file-font-size
    description: Used in alternate file tree files
    type: variable-number
    default: 0.9
    format: rem
  - title: Files font color
    id: oz-fta-file-pane-file-name-color
    type: variable-color
    opacity: true
    format: hex
    default: "#6f768599"
  - title: Disable folder icons
    id: flexcyon-oz-folder-icons-disabled
    description: Remove folder icons
    type: class-toggle
    default: false
  - title: Disable file tree header
    id: flexcyon-oz-file-tree-header-disabled
    description: Remove file tree header
    type: class-toggle
    default: false
  - title: Enable Alternate folder count
    id: flexcyon-oz-alternate-folder-count
    description: Alternate folder count style, shows count on hover
    type: class-toggle
    default: false
  - title: Enable dimmed file extensions in file tree
    id: flexcyon-oz-dimmed-file-exts-enabled
    type: class-toggle
    default: false

  - title: Full Calendar
    type: heading
    level: 5
    collapsed: true
  - title: Opacity of dimmed full calendar items 
    id: flexcyon-fc-dimmed-items-opacity
    type: variable-number
    default: 0.89
  - title: Dataview
    type: heading
    level: 5
    collapsed: true
  - title: Horizontal padding of dataview error messages
    id: flexcyon-dataview-horizontal-padding
    type: variable-number
    default: 8
    format: px

  - title: Canvas
    type: heading
    level: 5
    collapsed: true
  - title: Blur inactive Canvas nodes
    id: flexcyon-canvas-blur-inactive-nodes
    description: Toggle the blur effect of inactive canvas nodes.
    type: class-toggle
    default: false
  - title: Blur intensity for inactive nodes
    id: flexcyon-canvas-blur-intensity
    description: How intense the blur effect is when the blur inactive canvas nodes mode is on
    type: variable-number
    default: 1
    format: px
  - title: Canvas card menu alignment
    type: class-select
    id: flexcyon-canvas-menu-alignment
    allowEmpty: true
    default: none
    options: 
      - 
        label: Bottom left
        value: flexcyon-canvas-menu-bottom-left
      - 
        label: Bottom right
        value: flexcyon-canvas-menu-bottom-right
      - 
        label: Top center
        value: flexcyon-canvas-menu-top-center
      - 
        label: Top left
        value: flexcyon-canvas-menu-top-left
      - 
        label: Top right
        value: flexcyon-canvas-menu-top-right
      -
        label: Left aligned center
        value: flexcyon-canvas-menu-lcenter-center
      -
        label: Left aligned top
        value: flexcyon-canvas-menu-lcenter-top
      -
        label: Left aligned bottom
        value: flexcyon-canvas-menu-lcenter-bottom
      -
        label: Right aligned center
        value: flexcyon-canvas-menu-rcenter-center
      -
        label: Right aligned top
        value: flexcyon-canvas-menu-rcenter-top
      -
        label: Right aligned bottom
        value: flexcyon-canvas-menu-rcenter-bottom

  - title: Various Complements
    type: heading
    level: 5
    collapsed: true
    description: For configuring the Various Complements Plugin
  - title: Vertical Suggestion Padding
    type: variable-number
    id: flexcyon-var-comps-sugg-vert-padding
    default: 7
    format: px
  - title: Horizontal Suggestion Padding
    type: variable-number
    id: flexcyon-var-comps-sugg-horiz-padding
    default: 12
    format: px
  - title: Compact Suggestion Mode
    id: flexcyon-var-comps-compact-mode
    description: Overrides defaults. Uses padding 4px 8px.
    type: class-toggle
    default: false

  - title: Omnisearch
    type: heading
    level: 5
    collapsed: true
    description: For configuring the Omnisearch Plugin
  - title: Disable Omnisearch Icons
    id: flexcyon-omnisearch-no-icons
    description: Removes Omnisearch search result icons.
    type: class-toggle
    default: false
  - title: Omnisearch Body Left Margin
    type: variable-number
    id: flexcyon-omnisearch-body-margin-left
    default: 1.45
    format: rem

  - title: Bases
    type: heading
    level: 5
    collapsed: true
    description: For configuring the core Bases plugin
  - title: Bases View Vertical Padding
    description: Sets vertical padding for Base file content
    id: flexcyon-bases-padding-verti
    type: variable-number
    default: 16
    format: px
  - title: Bases View Horizontal Padding
    description: Sets horizontal padding for Base file content
    id: flexcyon-bases-padding-horiz
    type: variable-number
    default: 16
    format: px
  - title: Bases Embed Padding
    description: Sets padding for Base embeds
    id: bases-embed-padding
    type: variable-number
    default: 4
    format: px
  - title: Bases Cards View
    type: heading
    level: 6
    collapsed: false
  - title: Bases Card Label Opacity
    id: flexcyon-bases-cards-label-opacity
    description: Opacity of Labels in Cards View
    type: variable-number
    default: 0.85
  - title: Default string when Card View item image not found
    id: bases-no-img-str
    type: variable-text
    default: "No image path could be found for this file"
    quotes: true
  - title: Bases Card Border Radius
    id: bases-border-r
    type: variable-number
    default: 16
    format: px
  - title: Bases Card Group Padding
    id: bases-cards-group-padding
    type: variable-number
    default: 16
    format: px
  - title: Bases Card Padding Top
    id: flexcyon-bases-card-padding-top
    type: variable-number
    default: 8
    format: px
  - title: Bases Card Padding Right
    id: flexcyon-bases-card-padding-right
    type: variable-number
    default: 0
    format: px
  - title: Bases Card Padding Bottom
    id: flexcyon-bases-card-padding-bottom
    type: variable-number
    default: 0
    format: px
  - title: Bases Card Padding Left
    id: flexcyon-bases-card-padding-left
    type: variable-number
    default: 2
    format: px
  - title: Bases Card View Flex Grow
    id: flexcyon-bases-card-flex-grow
    description: This is the factor of how long the Card View takes to scale depending on tab size.
    type: variable-number
    default: 0.55
  - title: Bases Table View
    type: heading
    level: 6
    collapsed: false
  - title: Bases Table Cell left padding
    id: flexcyon-bases-td-padding-l
    type: variable-number
    default: 2
    format: px
  - title: Bases Table Cell Content Alignment
    id: flexcyon-bases-table-content-alignment
    type: variable-select
    default: left
    options: 
      - label: Left
        value: left
      - label: Center
        value: center
      - label: Right
        value: right
*/
