/*! 
@settings
name: flexcyon://Mobile
id: flexcyon-mobile
settings:
  - title: About Mobile
    type: info-text
    description: Configure Style Settings related to mobile.
  - title: Revert to pre-1.11 Navigation UI Style
    description: Only works as intended for Obsidian versions equal to or greater than 1.11.
    id: flexcyon-revert-nav-item-alignment
    type: class-toggle
    default: true
*/
