/*! 
@settings
name: flexcyon://Settings
id: flexcyon-settings
settings:
  - title: Settings
    type: heading
    level: 4
    collapsed: true
    description: Customise the appearance of settings
  - title: Enable community item effects
    description: Enable installed tooltip effects such as subtle dimming of community items and fixing positioning of installed tooltip in community items.
    id: flexcyon-settings-comm-item-enabled
    type: class-toggle
    default: false
  - title: Opacity of community items (unselected)
    id: flexcyon-comm-item-opacity
    type: variable-number
    default: 0.89
  - title: Installed tooltip left margin
    description: Control the left margin of the installed tooltip
    id: flexcyon-settings-installed-tooltip-left-margin
    type: variable-number
    default: 1
    format: rem
  - title: Do not show scrollbar in settings
    id: flexcyon-settings-scrollbar-removed
    description: Do not show scrollbar in settings where it is not necessary.
    type: class-toggle
    default: false
  - title: Enable alternate active item effect in settings
    id: flexcyon-enable-alt-active-item-effect
    type: class-toggle
    default: true

  - title: Style Settings
    type: heading
    level: 5
    collapsed: true
    description: Configure the appearance for style settings
  - title: Indentation width between style setting headings
    type: variable-number
    id: flexcyon-style-settings-indent-width
    default: 4
    format: px
  - title: Dim collapsed style settings headings
    description: Dims collapsed Style Settings headings, useful for navigating larger or heavily nested Style Settings.
    type: class-toggle
    id: flexcyon-style-settings-dim-collapsed-headings
    default: true
*/
