/*! 
@settings
name: flexcyon://About-Theme
id: flexcyon-about
settings:
  - title: About Theme
    type: info-text
    markdown: true
    description: flexcyon's colours are based on the Halcyon, Flexoki and Origami themes. You can find its [source code here](https://github.com/bladeacer/flexcyon). 

  - title: Design Principles
    type: info-text
    markdown: true
    description: It aims to be *reasonably opinionated and highly customisable*. If you are interested, feel free to learn more about the theme via the ==README and the documentation==.

  - title: Documentation
    type: info-text
    markdown: true
    description: For more information, check out the [documentation here](https://flexcyon.github.io/docs-en/). 如果您更熟悉中文, 请 [单击此处](https://flexcyon.github.io/docs-en/zh/) 查看中文文档。Translation is done on a best effort basis, though each update will have properly translated documentation before even being published.

  - title: "Is this style setting option available?"
    type: info-text
    markdown: true
    description: The Style Settings Plugin has a built-in search bar. That being said, the documentation is your friend with fuzzy search. The documentation also provides usage example and more information not found here. This includes the usage of CSS Classes and Callout Metadata that the theme comes with.
*/
