/*! 
@settings
name: flexcyon://about
id: flexcyon-about
settings:
  - title: About theme
    type: info-text
    markdown: true
    description: Flexcyon's colours are based on the Halcyon, Flexoki and Origami themes. You can find its [source code here](https://github.com/bladeacer/flexcyon). 

  - title: Design principles
    type: info-text
    markdown: true
    description: It aims to be *reasonably opinionated and highly customisable*. If you are interested, feel free to learn more about the theme via the ==README and the documentation==. When it comes to customising this theme, installing and using the Settings Search plugin is highly recommended.

  - title: Documentation 
    type: info-text
    markdown: true
    description: For more information, check out the [documentation here](https://flexcyon.github.io/docs-en/). 如果您更熟悉中文, 请 [单击此处](https://flexcyon.github.io/docs-en/zh/) 查看中文文档。
*/
