// The code snippets in this file are derived from the Halcyon theme
// - https://github.com/dbarenholz/halcyon-obsidian?tab=readme-ov-file
body
  :is(.backlinks-pane, .outgoing-link-pane)
  .tree-item-self:hover
  .tree-item-icon
  > svg {
  stroke: var(--flexcyon-accent);
}

body {
  .outgoing-link-pane {
    div.tree-item-flair-outer > span {
      transform: translateX(-7px);
    }
  }

  .backlink-pane {
    .tree-item.search-result {
      padding-inline-start: 8px;
    }

    .search-result-file-matches {
      padding: 10px;
    }

    .search-result-file-title {
      transform: translateX(-12.5px);
      padding-block-start: 10px;

      div.tree-item-flair-outer > span {
        transform: translateX(13.5px);
      }
    }
  }
}
