body:where(.theme-dark) {
    .backlink-pane {
        .tree-item.search-result {
            padding-inline-start: 8px;
        }

        .search-result-file-matches {
            padding: 10px;
        }

        .search-result-file-title {
            transform: translateX(-12.5px);
            padding-block-start: 10px;


            div.tree-item-flair-outer>span {
                transform: translateX(13.5px);
            }
        }
    }

    .outgoing-link-pane {
        div.tree-item-flair-outer>span {
            transform: translateX(-7px);
        }
    }
}