body {
  --flexcyon-cursor-duration: 70ms;
  --flexcyon-cursor-timing-fn: ease;
  --flexcyon-cursor-min-width: unset;
}

body.flexcyon-enable-smooth-cursor {
  .cm-cursor-primary {
    transition: all var(--flexcyon-cursor-duration)
      var(--flexcyon-cursor-timing-fn);
    min-width: var(--flexcyon-cursor-min-width);
  }
}
