body {
  --flexcyon-cursor-duration: 42.5ms;
  --flexcyon-cursor-timing-fn: ease-in;
  --flexcyon-cursor-min-width: unset;
}

/* obsi-snip-coll start: smooth-cursor */
body.flexcyon-enable-smooth-cursor {
  .cm-cursor-primary {
    transition: all var(--flexcyon-cursor-duration)
      var(--flexcyon-cursor-timing-fn);
    min-width: var(--flexcyon-cursor-min-width);
  }
}

/* obsi-snip-coll end */
