/* obsi-snip-coll start: cursor-type */
body {
  --flexcyon-cursor-type: auto;

  cursor: var(--flexcyon-cursor-type);
}

/* obsi-snip-coll end */

/* obsi-snip-coll start: smooth-cursor */

body.flexcyon-enable-smooth-cursor {
  --flexcyon-cursor-duration: 42.5ms;
  --flexcyon-cursor-timing-fn: ease-in;
  --flexcyon-cursor-min-width: unset;

  .cm-cursor-primary {
    min-inline-size: var(--flexcyon-cursor-min-width);
    transition: transform var(--flexcyon-cursor-duration)
      var(--flexcyon-cursor-timing-fn);
  }
}

/* obsi-snip-coll end */
